<ul class="nav nav-pills">
	<li>
		<a href="#">Facial Care</a>
	</li>
	<li>
		<a href="#">Skin Care</a>
	</li>
	<li>
		<a href="#">Hair Care</a>
		<div class="dropdown-sub">
			<ul>
				<li><a href="#">Shower Creams</a></li>
				<li><a href="#">Soaps</a></li>
				<li><a href="#">Shampoo’s</a></li>
				<li><a href="#">Conditioner’s</a></li>
				<li><a href="#">Bath Salt’s</a></li>
			</ul>
			<img src="static/img/content/sub-menu-img.jpg" alt="" class="submenu-img">			   
		</div>
	</li>
	<li>
		<a href="#">Bath & Shower Products</a>
	</li>
	<li>
		<a href="#">Mud & Bath Salt’s</a>
	</li>
	<li>
		<a href="#">For Men</a>
	</li>
	<li>
		<a href="#">Gift Packages</a>
		<div class="dropdown-sub">
			<ul>
				<li><a href="#">Shower Creams</a></li>
				<li><a href="#">Soaps</a></li>
				<li><a href="#">Shampoo’s</a></li>
				<li><a href="#">Conditioner’s</a></li>
				<li><a href="#">Bath Salt’s</a></li>
			</ul>
			<img src="static/img/content/sub-menu-img.jpg" alt="" class="submenu-img">			   
		</div>
	</li>
</ul>	