@media screen and (max-width: 993px) {
  .column--left {
    float: none;
    display: table-cell;
  }

  .sidebar {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}
@media screen and (max-width: 960px) {
  .homepage-splash {
    text-align: center;
  }

  .homepage-splash__item {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .blog-splash {
    display: none;
  }

  .project__home {
    width: 100%;
    max-width: 100%;
    margin: 0 0 30px 0;
  }
  .project__home .project {
    width: 33%;
    width: 33.3%;
    min-width: 215px;
  }
}
/*--max-width: 960px--*/
@media screen and (max-width: 959px) {
  .gred__list {
    max-width: 713px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 937px) {
  .contacts .sidebar {
    float: none;
    width: 100%;
  }
  .contacts .column--left {
    float: none;
    margin: 0 auto;
  }
}
/*--max-width: 937px--*/
@media screen and (max-width: 888px) {
  .container {
    position: relative;
  }

  .fixed {
    position: absolute;
  }

  .footer {
    position: relative;
  }
}
/*--max-width: 888px--*/
@media screen and (max-width: 768px) {
  .project {
    float: none;
    margin: 0 auto 27px;
  }

  .header {
    position: relative;
  }

  .container {
    position: relative;
  }

  .footer__block-content {
    text-align: center;
  }

  .mobileActive {
    display: block;
  }

  .menu-mobile {
    display: inline-block;
  }

  .menu {
    display: none;
  }

  .blog .sidebar .widget {
    width: 317px;
  }

  .contacts .column--left {
    max-width: 573px;
  }

  .home-page .page-bg {
    height: 355px;
  }

  .slider {
    top: 24px;
  }
}
@media screen and (max-width: 750px) {
  .gred__list {
    max-width: 463px;
  }

  .grid__item--big {
    width: 230px;
    height: 160px;
  }

  .posts__services {
    text-align: center;
  }
  .posts__services .post {
    width: auto;
    max-width: 320px;
    float: none;
    padding: 0;
    display: inline-block;
  }
  .posts__services .post__content__text {
    text-align: left;
  }
}
@media screen and (max-width: 748px) {
  .page {
    padding: 0 0 434px 0;
  }

  .footer {
    height: 434px;
    margin: -434px 0 0 0;
    overflow: hidden;
  }

  .footer__address {
    margin: 0 auto 15px;
  }

  .subscribe_form {
    padding: 15px 0 0 0;
    float: none;
    border-top: 1px solid #393939;
    position: relative;
    top: auto;
    right: auto;
  }
  .subscribe_form h3 {
    text-align: left;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe_form form {
    margin: 0 auto;
  }

  .footer__top-block {
    height: auto;
    padding: 27px 20px;
    text-align: center;
  }

  .footer-logo {
    position: relative;
    left: 0;
    top: 0;
    border-bottom: 1px solid #393939;
    padding: 0 0 15px 0;
  }

  .homepage-splash__item {
    margin: 25px 0 0 0;
    width: 100%;
    clear: both;
  }
  .homepage-splash__item:first-child {
    margin: 0;
  }

  .homepage-splash__item__content {
    max-width: 300px;
    margin: 0 auto 10px;
  }

  .blog-splash {
    display: inline-block;
  }
}
@media screen and (max-width: 690px) {
  .column--left {
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: block;
  }

  .sidebar {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sidebar .widget {
    display: inline-block;
    vertical-align: top;
  }

  .widget__location .call-us, .widget__location address, .widget__location .contact-link {
    text-align: center;
  }

  .header__top {
    height: auto;
  }

  .header__logo {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #393939;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
  }

  .soc {
    position: relative;
    top: auto;
    right: auto;
    border-bottom: 1px solid #393939;
    text-align: center;
    padding: 0 0 17px 0;
    margin: 0 0 17px 0;
  }

  .search {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    text-align: center;
    margin: 0 0 23px 0;
  }

  .thumbs {
    margin-bottom: 27px;
  }

  .footer__top-block {
    padding: 30px 0;
    height: auto;
    text-align: center;
  }
  .footer__top-block .footer-logo {
    position: relative;
    top: 0;
    left: auto;
    right: auto;
  }

  .footer__bottom-block {
    padding: 32px 0;
    height: auto;
  }
  .footer__bottom-block .footer__block-content {
    height: auto;
    text-align: center;
  }
  .footer__bottom-block .menu-mobile {
    float: none;
    display: inline-block;
  }

  .bfm {
    position: relative;
    left: auto;
    top: 0;
    right: auto;
  }
}
/*--max-width: 690px--*/
@media screen and (max-width: 593px) {
  .contacts .form__line .form__row {
    float: none;
  }
  .contacts .form__line .form__row:first-child {
    margin: 0 0 15px 0;
  }
}
@media screen and (max-width: 501px) {
  .gred__list {
    max-width: 230px;
    height: 480px;
  }
}
@media screen and (max-width: 445px) {
  .form__row {
    display: block !important;
    padding-right: 0 !important;
  }

  .services .post__content__image {
    float: none;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .page-bg {
    height: 177px;
  }

  .soc {
    float: none;
    display: block;
    text-align: center;
  }

  .menu-mobile, .header__logo {
    float: none;
    display: inline-block;
  }

  .header__logo {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
/*--max-width: 445px--*/
@media screen and (max-width: 399px) {
  .slider-images__pager ul li {
    width: 33%;
  }
}
@media screen and (max-width: 357px) {
  .sidebar .widget {
    width: 100%;
  }

  .blog .sidebar .widget {
    width: 100%;
  }
}
/*--max-width: 357px--*/
