@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);


@font-face {
    font-family: 'alsrubl-verdana-regular';
    src: url('../fonts/alsrubl-verdana-regular.eot');
    src: url('../fonts/alsrubl-verdana-regular?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl-verdana-regular.woff') format('woff'),
         url('../fonts/alsrubl-verdana-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
