.nav{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin: 0;			
			a{
				@include trs(0.2s, 0s);
			}
		}
	}
	&-top{		
		& > ul{
			float: right;
			& > li{
				margin-left: 24px;
				float: left;
				position: relative;
				&:hover{
					.submenu{
						transform: translateY(0);
						pointer-events: auto;
						opacity: 1;
						visibility: visible;
					}
				}
				& > a{
					display: block;
					padding: 28px 8px;
					text-decoration: none;
					border-bottom: 4px solid transparent;
					font-family: "latosemibold", sans-serif;
					text-transform: uppercase;
					
				}
			}
		}
		.submenu{
			position: absolute;
			left: -9px;
			top: 100%;
			margin-top: -4px;			
			font-size: 16px;			
			width: 275px;
			pointer-events: none;
			transform: translateY(50px);
			@include trs(0.2s, 0s);
			visibility: hidden;
			opacity: 0;
			box-shadow: 0 0 5px rgba(0,0,0,0.4);
			&:after{
				content: "";
				position: absolute;
				bottom: 100%;
				left: 62px;
				border-bottom: 12px solid #fff;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
			}
			&:before{
				content: "";
				position: absolute;
				top: -11px;
				left: 62px;
				width: 22px;
				height: 22px;
				display: block;
				background: #fff;
				transform: rotate(45deg);
				box-shadow: 0 0 5px rgba(0,0,0,0.4);
			}
			ul{
				background: #fff;
				padding: 20px;
				position: relative;
				z-index: 15;
				li{
					padding: 5px 0;
				}
			}
			a{
				color: #2a3947;
			}	
		}
	}
}
