<nav class="nav nav-top">
	<ul>
		<li>
			<a href="#">Company</a>
			<div class="submenu">
				<ul>
					<li>
						<a href="#">Contact Us</a>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
					<li>
						<a href="#">Management Team</a>
					</li>
					<li>
						<a href="#">Our Affiliations and Partners</a>
					</li>
					<li>
						<a href="#">Our References</a>
					</li>
					<li>
						<a href="#">WCH Way</a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#">Services</a>
		</li>
		<li>
			<a href="#">Apps</a>
		</li>
		<li>
			<a href="#">News</a>
		</li>
		<li>
			<a href="#">contacts</a>
		</li>
		<li>
			<button class="btn-search js-call-seach"><i class="fa fa-search"></i></button>
		</li>
	</ul>
</nav>                                                   