<div class="nav-cat">
	<ul>
		<li>
			<a href="#">Facial Care</a>
			<ul>
				<li><a href="#">Face Creams</a></li>
				<li><a href="#">Face Serums</a></li>
				<li><a href="#">Face Masks</a></li>
				<li><a href="#">Facial Cleansers</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Skin Care</a>
		</li>
		<li>
			<a href="#">Hair Care</a>
		</li>
		<li>
			<a href="#">Bath & Shower Products</a>
		</li>
		<li>
			<a href="#">Mud & Bath Salt’s</a>
		</li>
		<li>
			<a href="#">For Men</a>
		</li>
		<li>
			<a href="#">Gift Packages</a>
		</li>
	</ul>
</div>
