
.services-list{
	border-left: 1px solid #6ccfba;
	border-top: 1px solid #6ccfba;
	overflow: hidden;
}

.services-item{
	text-align: center;
	border-right: 1px solid #6ccfba;
	border-bottom: 1px solid #6ccfba;
	padding-top: 26px;
	position: relative;
}

.service-figure{
	height: 115px;
	margin-bottom: 16px;
	&:before{
	 	content: "";
	 	display: inline-block;
	 	vertical-align: middle;
	 	height: 100%;
	}
	&:after{
	 	content: "";
	 	display: inline-block;
	 	vertical-align: middle;
	 	height: 100%;
	}
}

.service-name{
	height: 64px;
	span{
		display: inline-block;
		vertical-align: middle;
		max-width: 95%;
	}
	&:before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	&:after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}

.services-item:hover .service-info{
	opacity: 1;
}

.service-info{
	background: $blue;
	color: #fff;
	font: 16px/22px "latoregular", sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 30px 20px;
	opacity: 0;
	@include trs(0.3s, 0s);
	&:before{
		content: "";
		position: absolute;
		top: 13px;
		right: 11px;
		width: 52px;
		height: 52px;
		background: url(../img/general/logo-light.png) no-repeat 0 0;		
		transform:  translate(52px, -81px);
		opacity: 0;
		transition-delay: 1s;
		@include trs(0.4s, 0s);
	}
	div{
		position: relative;
		z-index: 15; 
	}
	&:hover{
		&:before{
			transform:  translate(0, 0);
			opacity: 1;
		}
	}
}

