
<div class="section wow fadeInUp">
	<div class="container">
		<div class="section-header">
			Wch services
		</div>
				
		<div class="services-list row">
			
			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-audit"></i>
				</div>
				<div class="service-name">
					<span>Medical Chart Auditing</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-icode"></i>
				</div>
				<div class="service-name">
					<span>ICode</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-bill"></i>
				</div>
				<div class="service-name">
					<span>Medical Billing</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-sevices"></i>
				</div>
				<div class="service-name">
					<span>Provider Credentialing Service</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-billing"></i>
				</div>
				<div class="service-name">
					<span>Receptionist Services (Available only with Billing Services)</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-icode"></i>
				</div>
				<div class="service-name">
					<span>Software and web development</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-webinar"></i>
				</div>
				<div class="service-name">
					<span>Webinars</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

			<div class="services-item col-lg-3 col-md-6 col-sm-6">
				<div class="service-figure">
					<i class="icon-webinar"></i>
				</div>
				<div class="service-name">
					<span>Webinars</span>
				</div>
				<div class="service-info">
					<div>
						I am so clever that sometimes I do not get a word of what I am saying. Sometimes I worry about I am so clever that sometimes I do not get a word of what I am saying.
					</div>
				</div>
			</div>

		</div><!--.services-list-->		

	</div>
</div><!--.services-->