<div class="section">
	<div class="container">
		
		<div class="section-title">контакты</div>

		<div class="row">
			<div class="col-lg-6 h-grey">
				<h4>адрес</h4>
				<p>
					123456 Москва, ул. Нововоздвиженская, д. 23, корпус 3, оф 4.
				</p>
				<h4>реквизиты</h4>
				<table class="h-full">
					<tbody>
						<tr>
							<td>Номер счета</td>
							<td>1234567890</td>
						</tr>
						<tr>
							<td>Банк получателя</td>
							<td>Моспромбанк</td>
						</tr>
						<tr>
							<td>БИК</td>
							<td>123456789</td>
						</tr>
						<tr>
							<td>Кор. счет</td>
							<td>123456789</td>
						</tr>
						<tr>
							<td>ИНН Банка</td>
							<td>123456789</td>
						</tr>
						<tr>
							<td>КПП Банка</td>
							<td>123456789</td>
						</tr>
					</tbody>
				</table>

				<h4>Как до нас добраться</h4>

				<h5 class="h-blue"><i class="icon-car icon-mr-r"></i> На машине</h5>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#">commodo consequat.</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				</p>

				<h5 class="h-blue"><i class="icon-walk icon-mr-r"></i> пешком</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
			</div>

			<div class="col-lg-6">
				<img src="static/img/content/map.jpg" alt="">
			</div>

		</div>

	</div>
</div>