mixin skills()
	+b.skills.section&attributes(attributes)
		block		
		h3 Расскажите о себе чекбоксами

		p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не 	означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.                         
		
		.skills__list
			.row
				.col-lg-4.col-md-4
					.checkbox
						label 
							input(type="checkbox" checked)
							span БЭМ/OOCSS									
					.checkbox
						label
							input(type="checkbox" checked)
							span Pug (Jade)									
					.checkbox
						label
							input(type="checkbox" checked)
							span Stylus/LESS/SASS
					.checkbox
						label
							input(type="checkbox" checked)
							Работаю с SVG
					.checkbox
						label
							input(type="checkbox" checked)
							span Верстаю семантично
					.checkbox
						label
							input(type="checkbox")
							span Accessibility (A11Y)
					.checkbox
						label
							input(type="checkbox")
							span ES2015/ES2016
				.col-lg-4.col-md-4
					.checkbox
						label
							input(type="checkbox" checked)
							span Gulp/GRUNT
					.checkbox
						label
							input(type="checkbox")
							span Webpack
					.checkbox
						label
							input(type="checkbox")
							span Дружу с WebGL
					.checkbox
						label
							input(type="checkbox" checked)
							span jQuery
					.checkbox
						label
							input(type="checkbox" checked)
							span Знаю/изучаю Angular
					.checkbox
						label
							input(type="checkbox")
							span Знаю/изучаю React
					.checkbox
						label
							input(type="checkbox")
							span Знаю/изучаю Node.js
				.col-lg-4.col-md-4
					.checkbox
						label
							input(type="checkbox" checked)
							span Использую Git
					.checkbox
						label
							input(type="checkbox" checked)
							span С глазомером всё ок
					.checkbox
						label
							input(type="checkbox")
							span Читаю
						a(href="http://blog.csssr.ru") blog.csssr.ru
					.checkbox
						label
							input(type="checkbox")
							span Я ленивый(-ая)
					.checkbox
						label
							input(type="checkbox")
							span У меня хороший английский	
