

<div class="section">	
	<div class="container">

		<div class="section-header">
			WCH videos
		</div>

		<div class="list-posts row">
			
			<div class="post-item col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="200ms">
				<div class="post-f">
					<!-- <iframe src="https://www.youtube.com/embed/u3WhGOlVNWI" 
						allowfullscreen="" 
						width="100%"
						frameborder="0">							
					</iframe> -->
				</div>
				<div class="post-i">
					<h4 class="media-heading">
						<a href="#">Leading service providers for medical practices.</a>
					</h4>
					<div class="post-item__date">02 March 2016 / 15 Comments</div>
					<div class="post-item__text">
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
					</div>
				</div>
			</div>

			<div class="post-item col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="300ms">
				<div class="post-f">
					<!-- <iframe src="https://www.youtube.com/embed/KU3VKw9yPzc" 
						allowfullscreen="" 
						width="100%"
						frameborder="0">							
					</iframe> -->
				</div>
				<div class="post-i">
					<h4 class="media-heading">
						<a href="#">WCH in the news</a>
					</h4>
					<div class="post-item__date">02 March 2016 / 15 Comments</div>
					<div class="post-item__text">
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
					</div>
				</div>
			</div>

			<div class="post-item col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="400ms">
				<div class="post-f">
					<!-- <iframe src="https://www.youtube.com/embed/A3pWaVnIk7Q?rel=0"
						allowfullscreen="" 
						width="100%"
						frameborder="0">							
					</iframe> -->
				</div>
				<div class="post-i">
					<h4 class="media-heading">
						<a href="#">Meet the people of WCH </a>
					</h4>
					<div class="post-item__date">02 March 2016 / 15 Comments</div>
					<div class="post-item__text">
						Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
					</div>
				</div>
			</div>

		</div><!--.list-posts-->

		<div class="section-footer text-center">
			<a href="#" class="btn btn-green">view all</a>
		</div>

	</div>
</div>