<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-boxed nav-justified" data-highlight-active>
                <li><a href="javascript:;"><i class="color-primary fa fa-newspaper-o"></i> Новости</a></li>
                <li><a href="#/dashboard"><i class="color-danger fa fa-play-circle"></i> Прямой эфир</a></li>
                <li><a href="#/archive"><i class="color-warning fa fa-star-o"></i> Архив</a></li>
                <li><a href="javascript:;"><i class="color-success fa fa-diamond"></i> Тетрадь</a></li>
                <li><a href="javascript:;"><i class="color-cyan fa fa-floppy-o"></i> База знаний</a></li>
                <li class="btn-wrap"><button class="btn btn-primary btn-lg" type="button"><i class="fa fa-pencil-square-o"></i> Создать сайт</button></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel-body"><strong>Новости, оповещения и информация</strong></div>
        </div>
        <div class="col-md-6">
            <div class="panel-body action-menu">
                <ul class="list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Добавить новость</a></li>
                </ul>       
            </div>
        </div>
    </div>

    <div class="panel news-item">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="info">
                    <div class="meta">
                        <span class="date"><i class="fa fa-clock-o"></i> 26 июля в 12:00</span> 
                        <span class="author">Николай Рубинов (Паттайя, Таиланд)</span>
                        <div class="advanced pull-right">
                            <a class="link" href="#"><i class="fa fa-pencil-square-o"></i> Редактировать</a>
                            <a class="link" href="#"><i class="fa fa-trash-o"></i> Удалить</a>
                        </div>
                    </div>
                    <div class="title" ng-click="isCollapsed1 = !isCollapsed1"><span><span>Новый брилиант из Толятти</span></span></div>
                </div>
            </div>
            <div uib-collapse="!isCollapsed1">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="news-content">
                            <p>Таким образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. <u>Идейные соображения высшего порядка</u>, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Равным образом новая модель организационной деятельности требуют определения и <em>уточнения</em> существенных финансовых и административных условий. <strong>Повседневная практика</strong> показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <p>Таким образом <a href="#">начало повседневной работы</a> по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>
                        </div>
                        <div class="news-footer">
                            <div class="social"><img src="assets/images/social.png" alt=""></div>
                            <div class="like"><b>182</b> <a href="#"><i class="fa fa-heart-o"></i> Класс!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel news-item">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="info">
                    <div class="meta">
                        <span class="date"><i class="fa fa-clock-o"></i> 26 июля в 12:00</span> 
                        <span class="author">Николай Рубинов (Паттайя, Таиланд)</span>
                        <div class="advanced pull-right">
                            <a class="link" href="#"><i class="fa fa-pencil-square-o"></i> Редактировать</a>
                            <a class="link" href="#"><i class="fa fa-trash-o"></i> Удалить</a>
                        </div>
                    </div>
                    <div class="title" ng-click="isCollapsed2 = !isCollapsed2"><span><span>Компания выпустила новый продукт, который бьёт рекорды!</span></span></div>
                </div>
            </div>
            <div uib-collapse="!isCollapsed2">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="news-content">
                            <p>Таким образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. <u>Идейные соображения высшего порядка</u>, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Равным образом новая модель организационной деятельности требуют определения и <em>уточнения</em> существенных финансовых и административных условий. <strong>Повседневная практика</strong> показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <p>Таким образом <a href="#">начало повседневной работы</a> по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>
                        </div>
                        <div class="news-footer">
                            <div class="social"><img src="assets/images/social.png" alt=""></div>
                            <div class="like"><b>182</b> <a href="#"><i class="fa fa-heart-o"></i> Класс!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel news-item">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="info">
                    <div class="meta">
                        <span class="date"><i class="fa fa-clock-o"></i> 26 июля в 12:00</span> 
                        <span class="author">Николай Рубинов (Паттайя, Таиланд)</span>
                        <div class="advanced pull-right">
                            <a class="link" href="#"><i class="fa fa-pencil-square-o"></i> Редактировать</a>
                            <a class="link" href="#"><i class="fa fa-trash-o"></i> Удалить</a>
                        </div>
                    </div>
                    <div class="title" ng-click="isCollapsed3 = !isCollapsed3"><span>Специальный тренинг для членов клуба на Гавайских островах</span></div>
                </div>
            </div>
            <div uib-collapse="!isCollapsed3">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="news-content">
                            <p>Таким образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. <u>Идейные соображения высшего порядка</u>, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Равным образом новая модель организационной деятельности требуют определения и <em>уточнения</em> существенных финансовых и административных условий. <strong>Повседневная практика</strong> показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <p>Таким образом <a href="#">начало повседневной работы</a> по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>
                        </div>
                        <div class="news-footer">
                            <div class="social"><img src="assets/images/social.png" alt=""></div>
                            <div class="like"><b>182</b> <a href="#"><i class="fa fa-heart-o"></i> Класс!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel news-item">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="info">
                    <div class="meta">
                        <span class="date"><i class="fa fa-clock-o"></i> 26 июля в 12:00</span> 
                        <span class="author">Николай Рубинов (Паттайя, Таиланд)</span>
                        <div class="advanced pull-right">
                            <a class="link" href="#"><i class="fa fa-pencil-square-o"></i> Редактировать</a>
                            <a class="link" href="#"><i class="fa fa-trash-o"></i> Удалить</a>
                        </div>
                    </div>
                    <div class="title" ng-click="isCollapsed4 = !isCollapsed4"><span>Первый в мире энергетический напиток против старения</span></div>
                </div>
            </div>
            <div uib-collapse="!isCollapsed4">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="news-content">
                            <p>Таким образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. <u>Идейные соображения высшего порядка</u>, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Равным образом новая модель организационной деятельности требуют определения и <em>уточнения</em> существенных финансовых и административных условий. <strong>Повседневная практика</strong> показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <p>Таким образом <a href="#">начало повседневной работы</a> по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>
                        </div>
                        <div class="news-footer">
                            <div class="social"><img src="assets/images/social.png" alt=""></div>
                            <div class="like"><b>182</b> <a href="#"><i class="fa fa-heart-o"></i> Класс!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel news-item">
        <div class="panel-body row">
            <div class="col-md-12 clearfix">
                <div class="info">
                    <div class="meta">
                        <span class="date"><i class="fa fa-clock-o"></i> 26 июля в 12:00</span> 
                        <span class="author">Николай Рубинов (Паттайя, Таиланд)</span>
                        <div class="advanced pull-right">
                            <a class="link" href="#"><i class="fa fa-pencil-square-o"></i> Редактировать</a>
                            <a class="link" href="#"><i class="fa fa-trash-o"></i> Удалить</a>
                        </div>
                    </div>
                    <div class="title" ng-click="isCollapsed5 = !isCollapsed5"><span>Итоги спецтренинга в Минске</span></div>
                </div>
            </div>
            <div uib-collapse="!isCollapsed5">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="news-content">
                            <p>Таким образом постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития. <u>Идейные соображения высшего порядка</u>, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Равным образом новая модель организационной деятельности требуют определения и <em>уточнения</em> существенных финансовых и административных условий. <strong>Повседневная практика</strong> показывает, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.</p>
                            <p>Таким образом <a href="#">начало повседневной работы</a> по формированию позиции представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>
                        </div>
                        <div class="news-footer">
                            <div class="social"><img src="assets/images/social.png" alt=""></div>
                            <div class="like"><b>182</b> <a href="#"><i class="fa fa-heart-o"></i> Класс!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div data-ng-controller="PaginationDemoCtrl">
                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md" boundary-links="true" first-text="В начало" last-text="В конец" previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
            </div>
        </div>
    </div>

</div>