label {
    display: block;
    margin-bottom: 5px;
}
LABEL {    
    font-size: 14px;    
}
label.error {
    color: #bc4343;
    font: 12px Arial !important;
    margin-bottom: 0;
    text-transform: none;
}
form {
    margin: 0 0 24px;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input, select, textarea {
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {    
    background-color: #FFFFFF;
    border:none;
    border:$border-greenlite;
    display: inline-block;
    font:14px $general;
    color:$green;
    height: 30px;
    padding: 5px 20px 7px;
    border-radius:5px;
    vertical-align: middle;    
    transition-duration: 0.2s;
    transition-property: all;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    background: none repeat scroll 0 0 #FFFFFF;        
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;    
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}

textarea {
    height: auto;    
}

.form__row input[type="text"], .form__row input[type="password"], .form__row input[type="datetime"], .form__row input[type="datetime-local"], .form__row input[type="date"], .form__row input[type="month"], .form__row input[type="time"], .form__row input[type="week"], .form__row input[type="number"], .form__row input[type="email"], .form__row input[type="url"], .form__row input[type="search"], .form__row input[type="tel"], .form__row input[type="color"] {
    width: 100%;
}
.form__row textarea {
    height: 178px;
    min-height: 150px;
    resize: vertical;
    width: 100%;	
}

.form__row{
    margin-bottom:29px;
}

/*--placeholder--*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:$green;
    opacity:1;
    font:14px $general;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:$green;
    opacity:1;
    font:14px $general;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:$green;
    opacity:1;
    font:14px $general;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:$green;
    opacity:1;
    font:14px $general;
}
