body{
    font:14px/19px "Tahoma", Arial, sans-serif;
    color:#796346;
}

h1, .h1{
    font:normal 30px $bigfont;
    margin:0;
    text-transform: uppercase;
}
 
h2{
    font:normal 25px $bigfont;    
    text-transform: uppercase;
}

h3{
    font:normal 23px $bigfont;        
}

h4{
    font:normal 20px $bigfont;    
}

h5{
    font:normal 18px $bigfont;
}
 
h6{
    font:normal 15px $general;
    font-weight: bold;
    margin-bottom:5px;
}

a{
    color: $green;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
        color:$yellow;
        text-decoration: none;
    }
    &:active{
        color:#788e61;
    }
}


.l-container{    
    width:1200px;
    margin:0 auto;    
}

.l-container--small{
    width: 1010px;
    margin:0 auto;
}

.press--left{
    float:left;
    
}

img.press--left{
    margin-right:17px;
    margin-bottom:17px;
}

.press--right{
    float:right;
}

img.press--right{
    margin-left:17px;
    margin-bottom:17px;   
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.st--green{
    color:$green;
}

.st--greenlite{
    color:$greenlite;
}

.st--red{
    color:$red;
}

.st--blue{
    color:$blue;
}

.st--yellow{
    color:$yellow;
}

.st--orange{
    color:$orange;
}

.st--orangelite{
    color:$orangelite;
}

.st--center{
    text-align: center;
}

.b-header{
    margin-bottom:22px;
}

.b-header__info{
    position: relative;
    height: 238px;
    margin-bottom: 27px;    
}