mixin personal-data()
	+b.personal-data.section&attributes(attributes)
		block		
		.form
			form
				.form-cell
					.form-cell__item
						label.control-label Полное ФИО
					.form-cell__item
						.input-wrap
							input.form-control(type="text" value="Абдурахманов Рузель Шавкатович")
				.form-cell
					.form-cell__item
						label.control-label Год рождения
					.form-cell__item
						.input-wrap
							input.form-control(type="text" value="1990")
				.form-cell
					.form-cell__item
						label.control-label Место жительства
					.form-cell__item
						.input-wrap
							input.form-control(type="text" value="Узбекистан г.Ташкенте")
				.form-cell
					.form-cell__item
						label.control-label Скайп
					.form-cell__item
						.input-wrap
							input.form-control(type="text" value="ruzel_19")
				.form-cell
					.form-cell__item
						label.control-label Почта
					.form-cell__item
						.input-wrap
							input.form-control(type="text" value="ruzelyanet@mail.ru")
