<div class="big-slider">
	
	<div class="big-slider__item">
		<div class="big-slider__text">
			<div class="container">
				<span class="slide-title slide-title--big">No paraben</span><br>
				<span class="slide-title">Cherish your face</span>
			</div>
		</div>
		<img src="static/img/content/big-slider.jpg" alt="">
	</div>
	<div class="big-slider__item">
		<div class="big-slider__text">
			<div class="container">
				<span class="slide-title slide-title--big">No paraben</span><br>
				<span class="slide-title">Cherish your face</span>
			</div>
		</div>
		<img src="static/img/content/big-slider.jpg" alt="">
	</div>

</div><!--.big-slider-->