
<div class="b-scheme section" data-scroll-index="5">
	<div class="container">
		<div class="section-title h-white h-text-shadow">схема работы по продвижению сайта</div>

		<div class="b-scheme-visual">
			
			<div class="step step-1">
				Заявка, звонок, <br>
				знакомство;
			</div>

			<div class="step step-2">
				Первичный анализ <br>
				сайта;
			</div>

			<div class="step step-3">
				Оговариваем<br>
				все нюансы;
			</div>

			<div class="step step-4">
				Подписываем<br>
				договор;
			</div>

			<div class="step step-5">
				Производим<br>
				оплату;
			</div>

			<div class="step step-6">
				Получаем<br>
				доступы;
			</div>

			<div class="step step-7">
				Начинаем раскрутку.
			</div>

			<div class="b-scheme-visual__footer text-center">
				<button class="btn btn-default" data-toggle="modal" data-target="#popupPromotionPrice">следующий этап</button>
			</div>

		</div>

	</div>
</div>