@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1,
.h1,
h2,
.h2 {
  font-family: "Lobster", "Poppins", sans-serif;
}

h6 {
  font-weight: 700;
}

body {
  font-size: 16px;
}

.btn-sm {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
}

.btn-white {
  background: #fff;
  color: #3d3d3d;
}

.btn-white:hover {
  color: #3d3d3d;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.features-area-bottom .image-box {
  min-height: 236px;
}

h6,
p {
  font-size: 16px;
}

#features h3 {
  font-family: "Poppins", sans-serif;
}

.bg-pink {
  background: #fa399c !important;
}

.bg-blue {
  background: #2a56b0 !important;
}

.features-boxes-list .row {
  margin: 0 -5px;
}

.features-boxes-list .row [class*="col-"] {
  padding: 0 5px;
}

.color-box {
  color: #fff;
  background: #fff;
  border: 1px solid transparent;
}

.color-box-outline-purple {
  border-color: #714eb8;
  color: #565656;
}

.color-box-title {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 55px;
}

.section-heading-left h2:after {
  left: 0;
  transform: translateX(0);
}

.bg-purple {
  background: #714eb8 !important;
}
