<h3>Расскажите о себе чекбоксами</h3>
<p>
	Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
</p>

<div class="skills__list">
	<div class="row">
		<div class="col-lg-4">
			
			<div class="checkbox"><label><input type="checkbox">БЭМ/OOCSS</label></div>
			<div class="checkbox"><label><input type="checkbox">Pug (Jade)</label></div>
			<div class="checkbox"><label><input type="checkbox">Stylus/LESS/SASS</label></div>
			<div class="checkbox"><label><input type="checkbox">Работаю с SVG</label></div>
			<div class="checkbox"><label><input type="checkbox">Верстаю семантично</label></div>
			<div class="checkbox"><label><input type="checkbox">Accessibility (A11Y)</label></div>
			<div class="checkbox"><label><input type="checkbox">ES2015/ES2016</label></div>

		</div>
		<div class="col-lg-4">
			<div class="checkbox"><label><input type="checkbox">Gulp/GRUNT</label></div>
			<div class="checkbox"><label><input type="checkbox">Webpack</label></div>
			<div class="checkbox"><label><input type="checkbox">Дружу с WebGL</label></div>
			<div class="checkbox"><label><input type="checkbox">jQuery</label></div>
			<div class="checkbox"><label><input type="checkbox">Знаю/изучаю Angular</label></div>
			<div class="checkbox"><label><input type="checkbox">Знаю/изучаю React</label></div>
			<div class="checkbox"><label><input type="checkbox">Знаю/изучаю Node.js</label></div>			
		</div>
		<div class="col-lg-4">
			<div class="checkbox"><label><input type="checkbox">Использую Git</label></div>
			<div class="checkbox"><label><input type="checkbox">С глазомером всё ок</label></div>
			<div class="checkbox"><label><input type="checkbox">Читаю</label> <a href="#">blog.csssr.ru</a></div>
			<div class="checkbox"><label><input type="checkbox">Я ленивый(-ая)</label></div>
			<div class="checkbox"><label><input type="checkbox">У меня хороший английский</label></div>			
		</div>
	</div>
</div><!--.skills__list-->
