<div class="footer">
	<div class="container">
		<div class="footer-logo">
			<a href="#"><img src="static/img/general/logo-footer.png" alt=""></a>
		</div>
		<div class="footer-info row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<p>
					Medical Billing Assistance<br>
					<i class="fa fa-skype color-blue" aria-hidden="true"></i> (718) 312-80 68<br>
					billingonline@wchsb.com
				</p>

				<p>
					Technical Live Assistance<br>
					Ilya Mirolyubov<br>
					System Administrator<br>
					<i class="fa fa-skype color-blue" aria-hidden="true"></i> (718) 934-67 14 ext 1111<br>
					wchtech@wchsb.com
				</p> 
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<ul class="nav-footer">
					<li>
						<span class="info-link-icon"><i class="icon-icd"></i></span>
						<a href="#">ICD-10 Code Conversion</a>
					</li>
					<li>
						<span class="info-link-icon"><i class="fa fa-qrcode color-blue" aria-hidden="true"></i></span>
						<a href="#">QR Codes of our services</a>
					</li>
					<li>
						<span class="info-link-icon"><i class="icon-shabat"></i></span>
						<a href="#">Shabbat Time</a>
					</li>
					<li>
						<span class="info-link-icon"><i class="fa fa-envelope color-blue" aria-hidden="true"></i></span>
						<a href="#">Wch newsletter</a>
					</li>
					<li>
						<span class="info-link-icon"><i class="fa fa-support color-blue" aria-hidden="true"></i></span>
						<a href="#">Need help</a>
					</li>
				</ul>				
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<h4>Contact information:</h4>
				<p>
					Address: 3047 Avenue U, Brooklyn New York 11229<br>
					Phone: 888-WCHEXPERTS, Fax: 347-371-9968
				</p>
				<div class="c-soc">
					<a href="#" class="soc-fa"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#" class="soc-tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#" class="soc-in"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="#" class="soc-yt"><i class="fa fa-youtube" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="copyright text-center">
	<div class="container">
		&copy; 2012 WCH Service Bureau, INC | Web Design and Programming by WCH Service Bureau, Inc | Privacy Notice
	</div>
</div>