// File for scss-vars.
// For example: main colors, paddings and so on.


// fonts
$f-stack: 'Open Sans', sans-serif;
$f-title: 'Raleway', sans-serif;

//colors
$blue: #15455a;
$blue-light: #0fa1d6;

$grey: #63686a;
$grey-light: #dfdcdc;
$grey-bg-light: #f6f6f7;

$gold: #c0a240;
$gold-dark: #967933;

$pink: #f59a86;
