// Common styles of the project

::-moz-selection{
	background:#1ab394;
	color:#fff;
}

::selection{
	background:#1ab394;
	color:#fff;
}

::-moz-selection{
	background:#1ab394;
	color:#fff;
}

body{
	font: 18px "latoregular", sans-serif;
	color: #2a3947;
}

a{
	color: #2a3947;
}

p{
	margin-bottom: 25px;
}

h4{
	font: 20px "roboto_slabbold", sans-serif;
}

.section{
	padding-top: 40px;
	padding-bottom: 40px;
	&-header{
		text-align: center;
		font: 31px "roboto_slabbold", sans-serif;
		padding-bottom: 18px;
		position: relative;
		color: #0780c3;
		margin-bottom: 52px;
		&:after{
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			height: 2px;
			background: #0780c3;
			width: 104px;
			margin-left: -52px;
		}
		&--white{
			color: #fff;
			&:after{
				background: #fff;
			}
		}
	}
	&--blue{
		background: #0780c3;
	}
	&-footer{
		margin-top: 22px;
	}
}

.list{
	list-style: none;
	margin: 0;	
	padding: 0;
	&-green{
		font: 21px "latoregular", sans-serif;
		margin-top: 70px;
		li{
			display: block;
			padding-left: 33px;
			position: relative;
			margin-bottom: 10px;
			&:before{
				content: "";
				width: 12px;
				height: 12px;
				background: #1ab394;
				border-radius: 50%;
				display: block;
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
	}
}

.b-apps{
	max-width: 446px;
	margin-left: auto;
	margin-right: auto;
}

.tab-head{
	list-style: none;
	margin: 0;
	padding: 0;
	font: 25px "roboto_slabbold", sans-serif;
	border-bottom: 1px solid #b2b6ba;	
	li{
		padding: 0 40px;
		float: left;
		position: relative;
		a{
			display: block;
			padding: 10px 0;
			text-decoration: none;
			outline: none;
			&:hover{
				color: $blue;
			}	
		}
		&:before{
			content:"";
			display: block;
			height: 2px;
			background: $blue;
			position: absolute;
			bottom: -2px;
			left: 50%;			
			width: 0;
			margin-left: -25%; 
			@include trs(0.3s, 0s);
		}
		&:after{
			content: "";
			border-top: 0px solid $blue;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -3px;
			opacity: 0;			
			@include trs(0.3s, 0s);
		}
		&.active{
			a{
				color: $blue;
			}
			&:before{
				width: 50%;
			}
			&:after{
				opacity: 1;
				bottom: -5px;
				border-top: 5px solid $blue;
			}
		}
	}
}

.post-item{
	font-size: 17px;	
	.media-left{
		padding-right: 22px;
	}
	&__date{
		color: #a3a3a3;
		margin-bottom: 6px;
		font-size: 16px;
	}
	&__text{
		line-height: 22px;
		margin-bottom: 14px;
		max-height: 66px;
		height: 66px;
		overflow: hidden;
	}
	.media-heading{
		max-height: 56px;
		overflow: hidden;
		a{
			text-decoration: none;
			&:hover{
				color: $blue;
			}
		}
	}
	&--h{
		margin-top: 50px;
		&:first-child{
			margin-top: 50px;
		}
	}	
}

.post-f{
	iframe{
		min-height: 272px;
	}
}

.form-control{
	height: 54px;
	font: 18px "latoregular", sans-serif;
	border-radius: 5px;
	border-width: 3px;
	border-color: #fff;
	box-shadow: none;
	&-grey{
		background: #f1f1f5;
		border-color: #f1f1f5;
	}
	&:focus{
		border-color: #1ab394;
	}
}

label{
	font: 18px "latoregular", sans-serif;
}

textarea.form-control{
	min-height: 130px;
	resize: vertical;
}

.form-row{
	margin-bottom: 16px;
}

.form-footer{
	margin-top: 16px;
}

.footer{
	background: #44505d;
	padding: 32px 0;
	color: #fff;
	font: 18px "latoregular", sans-serif;	
	&-logo{
		margin-bottom: 50px;
	}
	i{
		font-size: 24px;
	}
}

.color-blue{
	color: #65b1dd;
}

.icon-icd{
	background: url(../img/general/icd.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
}

.icon-shabat{
	background: url(../img/general/icon-shabat.png) no-repeat 0 0;
	width: 14px;
	height: 34px;
}

.info-link-icon{
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	text-align: center;
	margin-right: 10px;
}

.nav-footer{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		margin-bottom: 10px;
	}
	a{
		color: #fff;
		display: inline-block;
		vertical-align: middle;
	}
}


.c-soc{
	margin-top: 15px;
	a{
		display: inline-block;
		vertical-align: middle;
		width: 44px;
		height: 44px;
		background: #5b6571;
		color: #fff;
		margin: 0 5px;
		border-radius: 50%;
		text-align: center;
		@include trs(0.2s, 0s);
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		&:after{
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
		i{
			vertical-align: middle;
		}
		/* &:hover{			
			color: #65b1dd;
			box-shadow: 0 0 10px #65b1dd;
		} */
	}
}

.soc-fa{
	&:hover{
		background: #3B579D;
		box-shadow: 0 0 10px #3B579D;
	}
}

.soc-tw{
	&:hover{
		background: #00ACED;
		box-shadow: 0 0 10px #00ACED;
	}
}

.soc-in{
	&:hover{
		background: #007BB6;
		box-shadow: 0 0 10px #007BB6;
	}
}

.soc-yt{
	&:hover{
		background: #C52521;
		box-shadow: 0 0 10px #C52521;
	}
}


.copyright{
	background: #0780c3;
	padding: 5px 0;
	color: #fff;
}

.btn-search{
	background: none;
	display: inline-block;
	vertical-align: middle;
	border: none;	
	padding: 30px 8px;
	&:hover{
		color: #23527c;
	}
}

.overflow-hidden{
	overflow: hidden;
}