
@media screen and (max-width: 1156px) {
	
	.fancybox-close{
		display: block !important;
	}

	.reviews__slider__list__footer{
		text-align: center !important;
	}

	.big-slider .section-title{
		padding: 20px 15px !important;
		margin-bottom:20px !important;
	}

	.section-title{
		margin-bottom:18px !important;
	}

	.work{
		padding-bottom:20px;
	}

	h4{
		font-size: 16px !important;
	}

	.work__slider__list__item{
		font-size:15px !important;
	}

	.header{
		height:75px !important;
	}
	
	.big-slider__list{
		display: none;
	}

	.hidden-slider{
		display: block !important;
	}

	.big-slider__view{
		height:auto !important;
		padding-bottom:10px !important;  
	}

	.header__shift{
		padding: 10px 0 !important;
		height: auto !important;
		position: fixed;
		top:0;
		left:0;
		width: 100%;
	}
	.logo{
		margin-right:15px !important;		
		margin-bottom:0 !important;
	}
	.menu{
		width: auto !important;
	}
	.menu__main{
		font-size: 13px !important;
	}
	.menu__sub{
		font-size: 12px !important;
	}

	.big-slider{
		height:auto !important;		
		
		padding-bottom: 15px;
		padding-top: 25px !important;
	}

	.stores{
		position: relative !important;
		bottom:0 !important;
	}



}

@media screen and (max-width: 1097px){
	
	.logo--big{
		display: none !important;
	}

	.logo--small{
		display: block !important;
	}

	html body div.menu{
		position: absolute;
		background: #fff;
		width: 100% !important;
		top:0;
		left:0;
		padding: 10px 0;
		display: none;
	}

	.menu ul li{
		float:none !important;
		text-align: center;
		margin-bottom:10px;
	}

	.call--menu{
		display: block !important;
	}


	.header__order{
		width:auto !important;
	}

	.tel{
		display: none !important;
	}

	.reviews{
		height: auto !important;
		padding-bottom:40px !important;
	}
	.reviews__slider__list{
		width: auto !important;
		background: none !important;
		margin-left:0 !important;
		padding: 0 !important;
		height: auto !important;
	}
	.reviews__slider{
		padding: 0 55px;
	}
	.reviews__slider__list__item__content{
		color:#fff !important;
	}
	.reviews__slider__list__item__figure{
		float:none !important;
	}
	.reviews__slider__list__item__content{
		margin-left:0 !important;
	}

	.photos{
		height:auto !important;
		background: #f5f2e5 !important;
		padding: 52px 0 15px !important;
	}

	.photos__gallery__list{
		width: auto !important;
		text-align: center !important;
		padding: 0 23px !important;
	}

	.photo__item{
		float:none !important;
		display: inline-block;
		vertical-align: top;
	}

	.photos__gallery__footer{
		width: auto !important;
	}

	.footer:before{
		content:"";
		display: none;
	}

}

@media screen and (max-width: 1047px){
	.video-gallery{
		display: none;
	}
	.big-slider__view__nan{
		height: auto !important;
	}
	.big-slider__view__nan__item{
		margin:0 5px 5px!important;
	}
}

@media screen and (max-width: 1020px){
	.work{
		height:auto !important;
	}
	.work__slider__nav{
		display: none;
	}
	.work__slider__list{
		width: auto !important;
		float:none !important;
		margin-top:10px !important;
	}

}

@media screen and (max-width: 888px) {
 
	.photos__gallery__footer{
		text-align: center;
	}

	.photos__gallery__footer .press--left{
		float:none!important;
		display: inline-block;
		margin:0 10px 10px;
	}
	.photos__gallery__footer .press--right{
		float:none!important;
		display: inline-block;
		margin:0 10px 10px;
	}

}
/*--max-width: 888px--*/
@media screen and (max-width: 765px) {

	.footer__logo{
		display: none;
	}

	.footer__content{
		text-align: center;
		padding-bottom: 10px;
	}

	.footer__content .press--left{
		float:none !important;
	}
  	
  	.footer__content .press--right{
		float:none !important;	
		text-align: center !important;
	}

	.photo__item--group--small{
		width: 268px !important;
	}

}

@media screen and (max-width: 480px) {

	.section-title{
		font-size: 36px !important;
		line-height: 32px;
	}

	.contacts__box__title{
		font-size: 25px !important;
		line-height: 25px !important;
		margin-bottom:18px !important;
	}
	.contacts__box__content{
		padding: 40px 30px 28px !important;
	}
	h3{
		font-size: 21px !important;
	}
	.logo{
		margin-bottom:10px;
	}
  .contacts__box{
  	width: 100% !important;
  }
 	.big-slider__list__item__figure{
		display: none;
	}

	.big-slider__list__item__info{
		margin-left:0 !important;
	}

	.st--popap{
		width: auto !important;
	}

	.st--popap .form__row__input{
		width: 100%;
	}

	.popap__title{
		margin-bottom:2px !important;
		font-size: 24px !important;
	}

	.popap__content{
		padding: 22px 22px 12px !important;
	}

	.form__row__title{
		margin-bottom:5px;
	}

	.popap-cart{
		background:#fff !important;
		width: 100% !important;
		height: auto !important;
		padding: 0 !important;
	}

	.spin-box{
		padding: 0 !important;
		background:none !important;
		margin-bottom:17px !important;
		height: auto !important; 
	}

	.spin{
		margin-top:0 !important;
	}

	.form--cart{
		padding: 0 10px !important;
	}

}

@media screen and (max-width: 410px){

	.header__order{
		display:none !important;
	}

}

@media screen and (max-width: 600px) {
  .reviews{
  	background: #00B5E9 !important;
  }
}

