
@media screen and (max-width: 1156px) {
	.header{
		height: auto !important;

	}

	.header__shift--fix{
		position: relative !important;
	}
	
	.header__shift{
		padding: 10px 0 !important;
	}
	.logo{
		margin-right:15px !important;		
	}
	.menu{
		width: auto !important;
	}
	.menu__main{
		font-size: 13px !important;
	}
	.menu__sub{
		font-size: 12px !important;
	}

	.big-slider__list{
		background: none !important;
		height: auto !important;
		margin-bottom:15px;
	}
	.big-slider__list__item{
		padding-left:0 !important;
	}
	.big-slider__list__item__fly{
		display: none;
	}

	.big-slider__view{
		height:auto !important;		
	}

	.big-slider{
		height:auto !important;		
		background: #FF6A8C !important;
		padding-bottom: 15px;
		padding-top: 25px !important;
	}

	.stores{
		position: relative !important;
		bottom:0 !important;
	}



}

@media screen and (max-width: 1097px){
	.reviews{
		height: auto !important;
		padding-bottom:25px !important;
	}
	.reviews__slider__list{
		width: auto !important;
		background: none !important;
		margin-left:0 !important;
		padding: 0 !important;
		height: auto !important;
	}
	.reviews__slider{
		padding: 0 55px;
	}
	.reviews__slider__list__item__content{
		color:#fff !important;
	}
	.reviews__slider__list__item__figure{
		float:none !important;
	}
	.reviews__slider__list__item__content{
		margin-left:0 !important;
	}

	.photos{
		height:auto !important;
		background: #f5f2e5 !important;
		padding: 15px 0 !important;
	}

	.photos__gallery__list{
		width: auto !important;
		text-align: center !important;
		padding: 0 23px !important;
	}

	.photo__item{
		float:none !important;
		display: inline-block;
		vertical-align: top;
	}

	.photos__gallery__footer{
		width: auto !important;
	}

	.footer:before{
		content:"";
		display: none;
	}

}

@media screen and (max-width: 1047px){
	.video-gallery{
		display: none;
	}
	.big-slider__view__nan{
		height: auto !important;
	}
	.big-slider__view__nan__item{
		margin:0 5px 5px!important;
	}
}

@media screen and (max-width: 1020px){
	.work{
		height:auto !important;
	}
	.work__slider__nav{
		display: none;
	}
	.work__slider__list{
		width: auto !important;
		float:none !important;
		margin-top:10px !important;
	}

}

@media screen and (max-width: 888px) {
  .header__right{
  	margin-top:15px;
  	display: block !important;
  }

	.photos__gallery__footer{
		text-align: center;
	}

	.photos__gallery__footer .press--left{
		float:none!important;
		display: inline-block;
		margin:0 10px 10px;
	}
	.photos__gallery__footer .press--right{
		float:none!important;
		display: inline-block;
		margin:0 10px 10px;
	}

}
/*--max-width: 888px--*/
@media screen and (max-width: 765px) {

	.footer__logo{
		display: none;
	}

	.footer__content{
		text-align: center;
		padding-bottom: 10px;
	}

	.footer__content .press--left{
		float:none !important;
	}
  	
  	.footer__content .press--right{
		float:none !important;	
		text-align: center !important;
	}

	.photo__item--group--small{
		width: 268px !important;
	}

	/* .big-slider__list__item *{
		-webkit-animation-delay:0s !important;
		animation-delay:0s !important;
	} */

}

@media screen and (max-width: 480px) {

	.big-slider__list__item *{
		-webkit-animation-delay:0s !important;
		animation-delay:0s !important;
	}

	.section-title{
		font-size: 36px !important;
		line-height: 32px;
	}

	.contacts__box__title{
		font-size: 25px !important;
		line-height: 25px !important;
		margin-bottom:18px !important;
	}
	.contacts__box__content{
		padding: 40px 30px 28px !important;
	}
	h3{
		font-size: 21px !important;
	}
	.logo{
		margin-bottom:10px;
	}
  .contacts__box{
  	width: 100% !important;
  }
 	.big-slider__list__item__figure{
		display: none;
	}

	.big-slider__list__item__info{
		margin-left:0 !important;
	}

	.st--popap{
		width: auto !important;
	}

	.st--popap .form__row__input{
		width: 100%;
	}

	.popap__title{
		margin-bottom:2px !important;
		font-size: 24px !important;
	}

	.popap__content{
		padding: 22px 22px 12px !important;
	}

	.form__row__title{
		margin-bottom:5px;
	}

	.popap-cart{
		background:#fff !important;
		width: 100% !important;
		height: auto !important;
		padding: 0 !important;
	}

	.spin-box{
		padding: 0 !important;
		background:none !important;
		margin-bottom:17px !important;
		height: auto !important; 
	}

	.spin{
		margin-top:0 !important;
	}

	.form--cart{
		padding: 0 10px !important;
	}

}

@media screen and (max-width: 410px){
	.logo{
		display: block !important;
		margin-right:0 !important;
		text-align: center;
	}

	.menu{
		text-align: center;
		display: block !important;
	}
	.menu__main li{
		float:none !important;
		display: inline-block;
	}

	.menu__sub li{
		float:none !important;
		display: inline-block;
	}
	.header__order{
		width: auto !important;
	}
	.tel{
		margin-bottom:10px;
		display: block !important;
	}
	.tel .icon--phone{
		display: none;
	}
	.header__right{
		text-align: center;
	}
	.tel__content__phone{
		display: inline-block !important;
		margin:0 10px !important;
	}
}

@media screen and (max-width: 600px) {
  .reviews{
  	background: #00B5E9 !important;
  }
}

