<div class="header">
	<div class="container text-center">
		
		<div class="logo">
			<a href="/"><img src="static/img/general/logo.png" alt=""></a>	
		</div>

		<div class="profile">
			личный онлайн диетолог<br>
			и фитнес куратор
		</div>

		<div class="slogan">
			<span class="slogan-big">Мы против диет!</span><br>
			Мы учим вас питаться сбалансированно			
		</div>

		<div class="form">
			<form>
				<div class="row">
					<div class="col-lg-4 col-sm-4 form-row">
						<input type="text" placeholder="Ваше имя" class="form-control form-row">
					</div>
					<div class="col-lg-4 col-sm-4 form-row">
						<input type="tel" placeholder="контактный телефон" class="form-control form-row">
					</div>
					<div class="col-lg-4 col-sm-4 form-row">
						<input type="email" placeholder="e-mail" class="form-control form-row">
					</div>
				</div>
				<div class="text-center">
					<button class="btn btn-primary btn-new-line">получить доступ к личному кабинету</button>					
				</div>
			</form>
		</div>

		<div class="header__contacts">
			<div class="pull-left">+7 926 210 20 96</div>
			<div class="pull-right c-cos">
				<a href="#"><i class="icon-fc"></i></a>
				<a href="#"><i class="icon-in"></i></a>
			</div>	
		</div>

	</div>
</div><!--.header-->
