.header{
	text-transform: uppercase;
	background: url(../img/general/bg-sity.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;	
	.container{
		padding-top: 100px;
		padding-bottom: 20px;
		position: relative;
	}
	&__contacts{
		font-size: 25px;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 0 15px;
		margin-top: 15px;
	}
}

.logo{
	img{
		max-width: 100%;
	}
}

.profile{
	font-size: 20px;
	margin-bottom: 50px; 
	color: $cold;
}

.slogan{
	font-size: 25px;
	margin-bottom: 60px;
	&-big{
		font-size: 30px;
	}
}
