/**
 * Get all images in sprite map
 *
 * @package modularis
 * @subpackage sprite
 *
 * @param $sprite
 * @param $prefix
 * @param $offset-x
 * @param $offset-y
 *
 * @type mixin
 */

@mixin modularis-sprite-all-images($sprite, $prefix: '', $offset-x: 0, $offset-y: 0) {
    $all-items: sprite-names($sprite);
    $sprite-map: $sprite;
    @each $_sprite in $all-items {
        $sprite-file: sprite-file($sprite-map, $_sprite);
        .#{$prefix}#{is_has_state("#{$_sprite}")} {
            background-image : $sprite;
            background-position: sprite-position($sprite-map, $_sprite, $offset-x, $offset-y);
        }
    }
}