<div class="b-about section">
	<div class="container">
		<div class="row">
			
			<div class="section section--blue col-lg-6 wow fadeInUp">
				<div class="section-header section-header--white">
					About Company
				</div>
				<p>
					As we have grown to become a leader in the tri- state area we wanted to 
					re-emphasize what makes our company successful, which is providing a variety services with extremely high quality that helps physician's and provider's daily operations.
				</p>
				<p>
					WCH Service Bureau, Inc Our new logo and brand image represents many 
					aspects of what our company has become over the years. It symbolizes the key characteristics of our company which are strength, care, warmth and 
					professionalism with expert knowledge in our business. Also, it stands for shield, protection and support we provide to our clients on a daily basis. Further, it 
					represents our wide variety of supporting and complementing products and 
					services which were developed with our client's needs in mind. Our new brand image is designed to re-emphasis that WE CAN HELP at every step of the way.
				</p>
				<p>
					Since 2001, we have proudly served private clinics, hospitals, laboratories, 
					imaging centers, pharmacies and supply companies and have hundreds of healthcare provider groups as clients. WCH is recognized as a vendor by 
					Medicare, Medicaid and top commercial insurance carriers in the tri-state area and around the country.
				</p>
				<p>
					WCH is a proud member of AAPC, AMBA, AHIMA and other professional 
					organizations. Our professional affiliations, quality of service and customer care are what differentiate us from other companies and as a result, we are a trusted 
					advisor focused on the success of our clients.
				</p>
			</div>

			<div class="section col-lg-6 wow fadeInUp" data-wow-delay="400ms">
				<div class="section-header section-header--white">
					Wch Apps
				</div>
				
				<ul class="b-apps list list-green">
					<li class="wow fadeInRight" data-wow-delay="500ms">iSmart EHR</li>
					<li class="wow fadeInRight" data-wow-delay="1000ms">Costs and limitations</li>
					<li class="wow fadeInRight" data-wow-delay="1500ms">Roadmap</li>
					<li class="wow fadeInRight" data-wow-delay="2000ms">Credentialing Application</li>
					<li class="wow fadeInRight" data-wow-delay="2500ms">Real Time Eligibility</li>
					<li class="wow fadeInRight" data-wow-delay="3000ms">PMBOS</li>
					<li class="wow fadeInRight" data-wow-delay="3500ms">Smartbill App</li>
					<li class="wow fadeInRight" data-wow-delay="4000ms">Time Management Program</li>
					<li class="wow fadeInRight" data-wow-delay="4500ms">Webinar</li>
					<li class="wow fadeInRight" data-wow-delay="5000ms">Coolsite4me</li>
				</ul>
			</div>

		</div>
	</div>
</div>