mixin footer()
	+b.footer&attributes(attributes)
		block
		.form
			form
				.form-cell
					.form-cell__item
						label.control-label Дата заполенения
					.form-cell__item
						.input-wrap
							input.form-control.input-date(type="text" value="08.01.2017")
