body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.l-container{
	width: 1300px;
	margin: 0 auto;
}

.logo{
	display: inline-block;
	vertical-align: middle;
}

.logo img{
	display: block;
}

.header{
	padding: 8px 30px;
	color: #666666;
}

.header a{
	color: #666666;
}

.header--grey{
	background: #262626;
}

.slogan{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #666666;
	color: #666666;
	text-transform: uppercase;
	padding-left: 9px;
	margin-left: 20px;
}

.c-contacts{
	margin-left: 55px;
	display: inline-block;
	vertical-align: middle;
}

.c-address{
	color: #999999;      
}

.c-phone{
	font-size: 18px;
	color: #000;
}

.c-phone big{
	font-weight: 700;
}

.h-blue{
	color: #00aeef;
}

.h-white{
	color: #fff;
}

.h-big{
	font-size: 25px;
}

.c-email{
	display: inline-block;
	vertical-align: middle;
	margin-left: 38px;	
}

.i-email{
	display: inline-block;
	vertical-align: middle;
	background: url("../img/icon-email.png") no-repeat 0 0;
	height: 8px;
	width: 11px;
	margin-right: 10px;
}

.c-info{
	display: inline-block;
	vertical-align: middle;
	margin-left: 43px;
}
