/**
 * Get sprite image by image file name
 *
 * @package modularis
 * @subpackage sprite
 *
 * @param $image
 * @param $sprite
 * @param $is-dimensions
 * @param $offset-x
 * @param $offset-y
 *
 * @type mixin
 */

@mixin modularis-sprite-image($image, $sprite, $is-dimensions: true, $offset-x: 0, $offset-y: 0) {

    $sprite-map: $sprite;
    $sprite-file: sprite-file($sprite-map, $image);
	background: {
        image : $sprite;
        repeat: no-repeat;
        position: sprite-position($sprite-map, $image, $offset-x, $offset-y);
    }

    @if $is-dimensions {
        width: image-width($sprite-file);
        height: image-height($sprite-file);
    }
}