mixin about()
	+b.about.section&attributes(attributes)
		block
		h3 Расскажите о себе словами
		p Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.

		textarea.about-text.form-control Занимаюсь версткой с 19 лет. Привлекло требования к исполнителю, узкий профиль компании. Ожидаю ровных дизайнов, и опытных манагеров.
