[class^="icon-"], [class*=" icon-"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    margin-top: 0;
    text-shadow: none;
    vertical-align: middle;
}


.icon--cart{
	margin-right:10px;
	margin-bottom:6px;
}


.big-slider__view__nan__item{	
	width: 72px;
	height: 72px;
	&.cycle-pager-active{
		background-position: 0 100%;
	}
}

.anim-dots{
	span{
		width: 72px;
		height: 73px;
		margin:0 28px;		
		@include inline(middle);
		border-radius: 100%;
		cursor:pointer;
		&.anim-dots-this{
			background-position: 0 100% !important;
			box-shadow: 0 0 20px rgba(0,0,0,0.5);
		}
	}
	span:nth-child(1){
		background: url(../images/icon--slide-1.png) no-repeat 0 0;
		margin-top:54px;
	}
	span:nth-child(2){
		background: url(../images/icon--slide-2.png) no-repeat 0 0;
		margin-top:24px;
	}
	span:nth-child(3){
		background: url(../images/icon--slide-3.png) no-repeat 0 0;
	}
	span:nth-child(4){
		background: url(../images/icon--slide-4.png) no-repeat 0 0;
	}
	span:nth-child(5){
		background: url(../images/icon--slide-5.png) no-repeat 0 0;
		margin-top:24px;
	}
	span:nth-child(6){
		background: url(../images/icon--slide-6.png) no-repeat 0 0;
		margin-top:54px;
	}	
}
