[class^="icon-"], [class*=" icon-"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    margin-top: 0;
    text-shadow: none;
    vertical-align: middle;
}


.icon--cart{
	margin-right:10px;
	margin-bottom:6px;
}

/*.icon--music{
	background: url(../images/icons.svg) no-repeat 0 0;
	width: 71px;
	height: 71px;
}

.icon--book{
	background: url(../images/icons.svg) no-repeat 0 -71px;
	width: 71px;
	height: 71px;
}

.icon--heart{
	background: url(../images/icons.svg) no-repeat 0 -142px;
	width: 71px;
	height: 71px;
}

.icon--magic{
	background: url(../images/icons.svg) no-repeat 0 -214px;
	width: 71px;
	height: 71px;
}

.icon--face{
	background: url(../images/icons.svg) no-repeat 0 -285px;
	width: 71px;
	height: 71px;	
}

.icon--mic{
	background: url(../images/icons.svg) no-repeat 0 -356px;
	width: 71px;
	height: 71px;	
}
*/



.icon--slide-1{
	background: url(../images/icons.svg) no-repeat 0 0;
	/*background: url(../images/icons.svg) no-repeat 0 0;*/
	width: 71px;
	height: 71px;
}

.icon--slide-2{
	/*background: url(../images/icons.svg) no-repeat 0 -71px;*/
	background: url(../images/icons.svg) no-repeat 0 -71px;
	width: 71px;
	height: 71px;
}

.icon--slide-3{
	background: url(../images/icons.svg) no-repeat 0 -142px;
	/*background: url(../images/icons.svg) no-repeat 0 -142px;*/
	width: 71px;
	height: 71px;
}

.icon--slide-4{
	background: url(../images/icons.svg) no-repeat 0 -214px;
	/*background: url(../images/icons.svg) no-repeat 0 -214px;*/
	width: 71px;
	height: 71px;
}

.icon--slide-5{
	background: url(../images/icons.svg) no-repeat 0 -285px;
	/*background: url(../images/icons.svg) no-repeat 0 -285px;*/
	width: 71px;
	height: 71px;	
}

.icon--slide-6{
	background: url(../images/icons.svg) no-repeat 0 -356px;
	/*background: url(../images/icons.svg) no-repeat 0 -356px;*/
	width: 71px;
	height: 71px;	
}