
/*-fonts----------------------*/
$rubl: "alsrubl-verdana-regular", sans-serif;

$basicfont:"Roboto", sans-serif;
$btnfont:"Roboto Condensed", sans-serif;
$titlefont:"bang_whack_powregular", sans-serif;
$light:300;
$med:500;
$bold:700;


/*-colors--------------------*/



/*-@mixin------------------*/
 @mixin list(){
  margin:0;
  padding:0;
  li{
    list-style-type: none;
  }
}

@mixin box(){	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

@mixin inline($alig){
	display: inline-block;
  vertical-align: $alig;
}

@mixin transiton($arg){
	-webkit-transition: all $arg ease;
  -moz-transition: all $arg ease;
  -o-transition: all $arg ease;
  -ms-transition: all $arg ease;
  transition: all $arg ease;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  @include has-layout;
}

#{elements-of-type(text-input)} {
  @include input-placeholder {
    color: #bfbfbf;
    font-style: italic;
  }
}