/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');

@font-face {
    font-family: 'brutal_typelight';
    src: url('../fonts/brutaltype-light.eot');
    src: url('../fonts/brutaltype-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brutaltype-light.woff2') format('woff2'),
         url('../fonts/brutaltype-light.woff') format('woff'),
         url('../fonts/brutaltype-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brutal_typemedium';
    src: url('../fonts/brutaltype-medium.eot');
    src: url('../fonts/brutaltype-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brutaltype-medium.woff2') format('woff2'),
         url('../fonts/brutaltype-medium.woff') format('woff'),
         url('../fonts/brutaltype-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brutal_typeregular';
    src: url('../fonts/brutaltype.eot');
    src: url('../fonts/brutaltype.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brutaltype.woff2') format('woff2'),
         url('../fonts/brutaltype.woff') format('woff'),
         url('../fonts/brutaltype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}