// File for scss-vars.
// For example: main colors, paddings and so on.

//colors
$blue: #2179a6;
$blue-lite: #2996cc;
$grey: #ababab;
$grey-dark: #5e5e5e;

//fonts
$brutal: "brutal_typeregular", Arial, sans-serif;
$brutal-light: "brutal_typelight", Arial, sans-serif;
$brutal-med: "brutal_typemedium", Arial, sans-serif;

$roboto: "Roboto", Arial, sans-serif;
