body
	font 15px/23px 'PT Sans', sans-serif
	color #3d3d3d
	background #797979

h3
	font-size 24px
	font-weight bold
	color #2f1b15

a
	color #1f5f97
	text-decoration underline
	&:hover
		text-decoration none
		
::selection
	background #d6c9ba

::-moz-selection
	background #d6c9ba
	
.page
	background url(../images/bg.jpg)
	padding 60px 116px
	&__header
		margin-bottom 40px

.stamp
	position relative
	&:before
		content ""
		width 252px
		height 106px
		background url(../images/stamp.png) no-repeat 0 0
		display block
		position absolute
		top 48px
		right 26px		

.section
	margin-bottom 62px 

.form-cell	
	display table
	width 100%
	margin-top 2px
	&:first-child
		margin-top 0
	&__item
		display table-cell
		vertical-align bottom
		&:last-child
			width 100%
			padding-left 18px
	.control-label
		white-space nowrap
	
.form-control
	font 30px "cor", sans-serif
	color #231f20
	height 60px
	border-radius 0
	border: none
	padding 12px 15px
	position relative
	background url(../images/border.png) transparent
	&:focus
		box-shadow none
	
.control-label
	font-size 22px
	font-weight 700
	color #2f1b15
	margin 0
	
.checkbox, .radio
	font-weight 700
	font-size 20px	
	margin-bottom 0
	margin-top 10px !important
	label
		font-weight 700
		font-size 20px
		color #000000
		padding-left 26px
		.jq-checkbox
			position absolute !important
			left 0
			top 3px

.form-inline
	.radio
		margin-right 18px


@media screen and (max-width: 1200px)
	.page
		padding 30px 60px
