.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background: rgba(255, 255, 255, 0.9);
	&-info{
		height: 100px;
		box-sizing: border-box;
		padding-top: 18px;
		position: relative;
		padding-right: 302px;
	}
}

.logo{
	position: relative;
	width: 275px;
}

.contact-info{
	margin-left: 272px;
	font: 15px $brutal-light;
	margin-top: 5px;
}

.slogan{
	position: absolute;
	left: 86px;
	top: 38px;
	font-size: 11px;
	color: $grey;
	text-transform: uppercase;
}

.c-phone{
	font-size: 23px;
	color: $blue;
}

.c-address{
	margin-left: 208px;	
	width: 385px;
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.link-callback{
	margin-left: 25px;
}

.c-region{
	position: absolute;
	right: 15px;
	top: 0;
	height: 100%;
	border-left: 1px solid $grey;
	border-right: 1px solid $grey;
	width: 270px;
	font:300 15px $roboto;
	text-align: center;
	padding: 37px 0;
	.icon-arrow-right{
		margin-left: 35px;
	}
	a{
		color: $grey;
		text-decoration: none;
		&:hover{
			color: $blue;			
		}
	}
}

