<div class="header">
	<div class="header-info container">

		<div class="logo pull-left">
			<img src="static/img/general/logo.png" alt="">
			<div class="slogan">
				Поисковое продвижение<br>
				сайтов по всей России
			</div>
		</div><!--.logo-->

		<div class="contact-info clearfix">

			<div class="c-phone pull-left">
				8 800 123-45-67<br>
				8 495  123-45-67
			</div><!--.c-phone-->

			<div class="c-address">			
				<p>Москва, ул. Ленинский проспект, д. 46, корп. 2, оф. 6</p>
				<a href="#">info@iceseo.ru</a>
				<span class="link-callback" data-toggle="modal" data-target="#popupCallback">Заказать обратный звонок</span>
			</div><!--.c-address-->
		</div><!--.contact-info-->

		<div class="c-region">
			<a href="#">Выберите ваш регион <i class="icon-arrow-right"></i></a>
		</div><!--.c-region-->

	</div>

	{{> nav/nav }}
	
</div><!--.header-->