
.c-search{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.95);
	z-index: 2000;
	visibility: hidden;
	opacity: 0;
	padding: 20px;	
	@include trs(0.3s, 0s);
	&--open{
		visibility: visible;
		opacity: 1;
	}
	.form{
		max-width: 600px;
		margin: 0 auto;
		position: relative;
		margin-top: 20%;
		.btn-blank{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	&__close{
		cursor: pointer;
	    font-size: 32px;
	    height: 80px;
	    line-height: 15px;
	    padding: 23px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 80px;
	    text-align: center;
	    &:hover{
	    	color: $blue;
	    }
	}
	.btn-blank{
		height: 100%;
	}
}

.input-search{
	border: none;
	border-bottom: 4px solid #2a3947;
	border-radius: 0;
	padding-right: 40px;
	background: transparent;
	height: 100px;
	font: 30px "latolight", sans-serif;
	&:focus{
		box-shadow: none;
	}
}
