
<div class="section">
	<div class="container">
		<div class="section-title">кейсы по продвижению сайтов</div>

		
		<div class="keys-carousel">
			<span id="keys-carousel-prev" class="icon-prev"></span>
			<span id="keys-carousel-next" class="icon-next"></span>

			<div class="keys-list">

				<div class="keys-item">
					<div class="keys-item__img"><img src="static/img/content/yad.jpg" alt=""></div>
					<div class="keys-item__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
					</div>
				</div>
				<div class="keys-item">
					<div class="keys-item__img"><img src="static/img/content/yad.jpg" alt=""></div>
					<div class="keys-item__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
					</div>
				</div>
				<div class="keys-item">
					<div class="keys-item__img"><img src="static/img/content/yad.jpg" alt=""></div>
					<div class="keys-item__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
					</div>
				</div>

			</div>

		</div><!--.keys-carousel-->
		

	</div>
</div>