<div class="big-slider">
	
	<ul class="anim-slider">
		
		<li class="anim-slide slide big-slide">
			<div class="slide-content">
				<div class="container">
					<div class="row">
						<div class="big-slide-info col-lg-6 col-md-6">
							<div>
								<div class="big-slide-title fs_obj" data-position="20,20" data-in="bottomLeft" data-step="1" rel="0">We double checked</div>
								<div class="big-slide-subtitle">ICD-10 Compliant</div>					
								<p class="big-slide-text">
									WCH is proud to offer complimentary, unique and educational publications to all clients and visitors of our website. These issues provide information about WCH progress, accomplishments and also offers variety of helpful healthcare news. If you are not yet subscribed to receive our publications, please  sign up below.
								</p>
								<div class="big-slide-info__footer">
									<a href="#" class="btn btn-green">Free archived issues</a>
								</div>
							</div>
						</div>
						<div class="big-slide-img col-lg-6 col-md-6 hidden-sm hidden-xs">
							<img src="static/img/general/violeta.png" alt="" class="img-bottom">
						</div>
					</div>
				</div>
			</div>
			<img src="static/img/general/banner-bg.jpg" class="slide-bg">
		</li>
		
		<li class="anim-slide slide big-slide">
			<div class="slide-content">
				<div class="container">
					<div class="row">
						<div class="big-slide-info col-lg-6 col-md-6">
							<div>
								<div class="big-slide-title">We double checked</div>					
								<div class="big-slide-subtitle">ICD-10 Compliant</div>					
								<p class="big-slide-text">
									WCH is proud to offer complimentary, unique and educational publications to all clients and visitors of our website. These issues provide information about WCH progress, accomplishments and also offers variety of helpful healthcare news. If you are not yet subscribed to receive our publications, please  sign up below.
								</p>
								<div class="big-slide-info__footer">
									<a href="#" class="btn btn-green">Free archived issues</a>
								</div>
							</div>
						</div>
						<div class="big-slide-img col-lg-6 col-md-6 hidden-sm hidden-xs">
							<img src="static/img/general/tomara.png" alt="" class="img-bottom">
						</div>
					</div>
				</div>
			</div>
			<img src="static/img/general/banner-bg2.jpg" class="slide-bg">
		</li>	
		
		<nav class="anim-arrows">
			<span class="anim-arrows-prev"></span>
			<span class="anim-arrows-next"></span>
		</nav>	
		
	</ul>
</div><!--.big-slider -->