

<div class="section">
	<div class="container">
		
		<div class="section-header">
			We are members of:
		</div>

		
		<div class="partners">
			<div class="partner-item">
				<img src="static/img/content/aapc.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/hcca.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/ahima.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/bbb.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/drfirst.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/bankam.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/aapc.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/hcca.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/ahima.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/bbb.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/drfirst.png" alt="">
			</div>
			<div class="partner-item">
				<img src="static/img/content/bankam.png" alt="">
			</div>
		</div>
		

	</div>
</div><!--.b-testimonials-->