
.partner-item{
	text-align: center;
	padding: 0 5px;
	img{
		display: inline-block;
		vertical-align: middle;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
    	max-width: 100%;
    	@include trs(0.2s, 0s);
    	&:hover{		
			-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    		filter: grayscale(0);			
		}
	}	
}

.partners{
	.owl-wrapper-outer{
		margin-bottom: 60px;
	}
	.owl-pagination{
		text-align: center;
		.owl-page{
			width: 17px;
			height: 17px;
			border: 1px solid #d1d1d1;
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			&.active{
				background: #d1d1d1;
			}
		}
	}
}
