extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'CSSSR Project Template';

block content	
	.container
		.page.stamp
			
			+header
			
			+page-header

			+personal-data

			+skills

			+level-js		
			
			+about

			+future			
			
			+footer