.header{	
	width: 100%;	
	position: relative;	
	z-index: 50;
	padding: 20px 0 0;
	.container{
		position: relative;		
	}
}

.logo{
	position: relative;
	z-index: 15;
	float: left;	
}

.site-navi{
	float: right;
}