.popup{	
	&-subtext{
		color: #999999;
		margin-bottom: 14px;
		font: 300 15px/25px $roboto;
		text-align: center;
	}
}

.modal-body{
	padding: 40px 124px;
}	

.modal-title{
	text-align: center;
	font: 35px $brutal-light;
	text-transform: uppercase;
}

.range-price-val{
	color: #999999;
	font:300 15px $roboto;
	span{
		font-weight: 600;
	}
}

.modal-content{
	border-radius: 0;
}

.modal-header{
	border-bottom: none;
	padding: 70px 0 0 0;
}

button.close{
	top: 20px;
	right: 18px;
	opacity: 1;
	position: absolute;
}