<div class="modal fade" id="popupPromotion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>

      <div class="modal-header">        
        <h4 class="modal-title">заказать продвижение</h4>
      </div>

      <div class="modal-body">
      	<form>
			<div class="form-group">
				<label>Выберите тариф</label>
				<select class="form-control">
					<option>ИНТЕРНЕТ-МАГАЗИН</option>
					<option>ИНТЕРНЕТ-МАГАЗИН</option>
					<option>ИНТЕРНЕТ-МАГАЗИН</option>
					<option>ИНТЕРНЕТ-МАГАЗИН</option>
				</select>
			</div>
			<div class="form-group">
				<label>Введите ваше имя</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите номер телефона</label>
				<input type="tel" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите ваш e-mail *</label>
				<input type="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите адрес вашего сайта *</label>
				<input type="url" class="form-control">
			</div>
			<div class="form-footer text-center">
				<button class="btn btn-default btn-cw" type="submit">заказать</button>
			</div>
		</form>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="popupPromotionPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>

      <div class="modal-header">        
        <h4 class="modal-title">заказать продвижение</h4>
      </div>

      <div class="modal-body">
      	<form>			
			<div class="form-group">
				<label>Введите ваше имя</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите номер телефона</label>
				<input type="tel" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите ваш e-mail *</label>
				<input type="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите адрес вашего сайта *</label>
				<input type="url" class="form-control">
			</div>
			<div class="form-group">
				<label>Определите бюджет продвижения:</label>
				<div class="range-slider">
					<input type="text" id="range-price" />
				</div>
				<div class="range-price-val">
					от <span class="from-price"></span> руб до <span class="to-price"></span> руб
				</div>
			</div>
			<div class="form-footer text-center">
				<button class="btn btn-default btn-cw" type="submit">заказать</button>
			</div>
		</form>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="popupCallback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></button>

      <div class="modal-header">        
        <h4 class="modal-title">заказать обратный звонок</h4>
      </div>

      <div class="modal-body">
      	<div class="popup-subtext">
			Закажите обратный звонок и наш менеджер перезвонит вам в течение 10 минут
		</div>
		<form>			
			<div class="form-group">
				<label>Введите ваше имя</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label>Введите номер телефона</label>
				<input type="tel" class="form-control">
			</div>						
			<div class="form-footer text-center">
				<button class="btn btn-default btn-cw" type="submit">заказать звонок</button>
			</div>
		</form>
      </div>
      
    </div>
  </div>
</div>