
.tarif{
	&-item{
		display: inline-block;
		vertical-align: top;
		width: 270px;		
		background: #cccccc;
		transition: all 0.2s ease-out 0s;
		margin: 0 38px 60px;
		&:hover{
			box-shadow: 0 10px 20px rgba(0,0,0,0.3);			
			.tarif-price{
				div{
					color: #2179a6;
				}
			}
			.tarif-head{
				&:before{
					opacity: 1;
				}
			}
			.tarif-name{
				text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
			}
		}		
	}
	&-head{
		height: 192px;
		box-sizing: border-box;
		padding: 38px 10px 26px;
		position: relative;
		&:before{
			content: "";
			transition: all 0.2s ease-out 0s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../img/general/tarif-head.jpg) no-repeat 0 0;
			opacity: 0;
		}		
	}
	&-icon{
		margin-bottom: 27px;
		position: relative;
	}
	&-cap{
		background: #fff;
		padding: 30px;
		border: 1px solid #cccccc;
	}
	&-name{
		font-size: 22px;
		color: #fff;
		text-transform: uppercase;
		position: relative;
		transition: all 0.2s ease-out 0s;
	}
	&-info{
		font-size: 15px;
		color: #666666;
		line-height: 23px;
		height: 70px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	&-price{
		color: #b2b2b2;
		font-size: 13px;
		margin-bottom: 28px;
		div{
			font-size: 33px;
			color: #999999;
			line-height: 30px;
			transition: all 0.2s ease-out 0s;
		}
	}
}

