
<div class="section">
	<div class="container">
		<div class="section-title">Тарифы</div>

		<div class="tarif-list text-center">
			
			<div class="tarif-item">
				<div class="tarif-head text-center">
					<div class="tarif-icon">
						<i class="icon-rocket"></i>
					</div>
					<div class="tarif-name">стартап</div>
				</div>
				<div class="tarif-cap">
					<div class="tarif-info">
						подходит для небольших<br>
						и молодых сайтов.						
					</div>
					<div class="tarif-price">
						Стоимость от 
						<div>30 000 руб.</div>
					</div>
					<button class="btn btn-block">Выбрать</button>
				</div>
			</div>

			<div class="tarif-item">
				<div class="tarif-head text-center">
					<div class="tarif-icon">
						<i class="icon-standart"></i>
					</div>
					<div class="tarif-name">Стандарт</div>
				</div>
				<div class="tarif-cap">
					<div class="tarif-info">
						для небольших сайтов<br>
						(до 2 000 страниц). 					
					</div>
					<div class="tarif-price">
						Стоимость от 
						<div>35 000 руб.</div>
					</div>
					<button class="btn btn-block">Выбрать</button>
				</div>
			</div>

			<div class="tarif-item">
				<div class="tarif-head text-center">
					<div class="tarif-icon">
						<i class="icon-magazine"></i>
					</div>
					<div class="tarif-name">Интернет-магазин</div>
				</div>
				<div class="tarif-cap">
					<div class="tarif-info">
						подходит для магазинов с<br>
						большим ассортиментов <br>
						(от 3000 товаров)					
					</div>
					<div class="tarif-price">
						Стоимость от 
						<div>50 000 руб.</div>
					</div>
					<button class="btn btn-block">Выбрать</button>
				</div>
			</div>

			<div class="tarif-item">
				<div class="tarif-head text-center">
					<div class="tarif-icon">
						<i class="icon-portal"></i>
					</div>
					<div class="tarif-name">Портал</div>
				</div>
				<div class="tarif-cap">
					<div class="tarif-info">
						для больших каталогов, <br>
						агрегатов товарных <br>
						предложений, новостных <br>
						сайтов, видео сайтов и т.д. 					
					</div>
					<div class="tarif-price">
						Стоимость от 
						<div>90 000 руб.</div>
					</div>
					<button class="btn btn-block">Выбрать</button>
				</div>
			</div>

			<div class="tarif-item">
				<div class="tarif-head text-center">
					<div class="tarif-icon">
						<i class="icon-theme"></i>
					</div>
					<div class="tarif-name">Тематика</div>
				</div>
				<div class="tarif-cap">
					<div class="tarif-info">
						для больших каталогов, <br>
						агрегатов товарных <br>
						предложений, новостных <br>
						сайтов, видео сайтов и т.д. 					
					</div>
					<div class="tarif-price">
						Стоимость от 
						<div>25 000 руб.</div>
					</div>
					<button class="btn btn-block">Выбрать</button>
				</div>
			</div>

		</div>

	</div>
</div>