<nav class="menu">
	<div class="container text-center">
		<ul>
			<li><span data-scroll-nav="0">О компании</span></li>
			<li><span data-scroll-nav="1">Преимущества</a></li>
			<li><span data-scroll-nav="2">Кейсы</span></li>
			<li><span data-scroll-nav="3">Тарифы</span></li>
			<li><span data-scroll-nav="4">Видео</span></li>
			<li><span data-scroll-nav="5">Стратегия</span></li>
			<li><span data-toggle="modal" data-target="#popupPromotion">Заказать</span></li>
			<li><span data-scroll-nav="6">Контакты</span></li>
		</ul>
	</div>
</nav>