.menu{
	background: $blue;
	height: 50px;
	font: 15px $brutal-light;
	text-transform: uppercase;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			vertical-align: middle;
			span{
				display: block;
				cursor: pointer;
				padding: 15px 20px;
				color: #fff;
				height: 50px;
				transition: all 0.2s ease-out 0s;
				text-decoration: none;						
				&:hover{
					text-decoration: none;
					background: $blue-lite;
				}
			}
		}
	}
}
