<div class="form">
    <form action="">
        
        <div class="form-cell">
            <div class="form-cell__item">
                <label class="control-label">Полное ФИО</label>
            </div>
            <div class="form-cell__item">
                <div class="input-wrap">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-cell">
            <div class="form-cell__item">
                <label class="control-label">Год рождения</label>
            </div>
            <div class="form-cell__item">
                <div class="input-wrap">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-cell">
            <div class="form-cell__item">
                <label class="control-label">Место жительства</label>
            </div>
            <div class="form-cell__item">
                <div class="input-wrap">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-cell">
            <div class="form-cell__item">
                <label class="control-label">Скайп</label>
            </div>
            <div class="form-cell__item">
                <div class="input-wrap">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-cell">
            <div class="form-cell__item">
                <label class="control-label">Почта</label>
            </div>
            <div class="form-cell__item">
                <div class="input-wrap">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </form>
</div>
 
