
<div class="section wow fadeInUp">	
	<div class="container">
		
		<div class="post-splash">
			
			<ul class="tab-head clearfix" role="tablist">
				<li role="presentation" class="active">
					<a href="#analytics" aria-controls="analytics" role="tab" data-toggle="tab">WCH Analytics</a>
				</li>
				<li role="presentation">
					<a href="#news" aria-controls="news" role="tab" data-toggle="tab">Health News</a>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="analytics">
					
					<div class="list-posts row">
												
						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">Modern maternity ward in the hospital</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">Modern maternity ward in the hospital</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post4.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

					</div>

				</div>
				<div role="tabpanel" class="tab-pane fade" id="news">
					
					<div class="list-posts row">
												
						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post2.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post4.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

						<div class="post-item post-item--h media col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<div class="media-left">
								<a href="#">
									<img class="media-object" src="static/img/content/post3.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">The latest diet pills for men in middle age</a></h4>
								<div class="post-item__date">
									02 March 2016 / 15 Comments
								</div>
								<div class="post-item__text">
									Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie eget eros elementum, lobortis libero non, pretium.
								</div>
								<a href="#" class="btn btn-green">Read More</a>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>
</div>