
<div class="b-testimonials section">
	<div class="container">
		
		<div class="section-header section-header--white">
			Testimonials
		</div>

		
		<div class="testimonials-list">
			<div class="testimonials-text">				
				<div class="testimonial-item active" data-text-item="1">
					1Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
				<div class="testimonial-item" data-text-item="2">
					2Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
				<div class="testimonial-item" data-text-item="3">
					3Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
				<div class="testimonial-item" data-text-item="4">
					4Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
				<div class="testimonial-item" data-text-item="5">
					5Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
				<div class="testimonial-item" data-text-item="6">
					6Quisque at magna eu augue semper euismod. Fusce commodo molestie. Donec mollis nulla ipsum, vitae faucibus dui dapibus at. Cras ullamcorper eget ipsum vel volutpat. Phasellus rhoncus in sapien tincidunt mollis.
				</div>				
			</div>

			<div class="testimonials-autors">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="1" 
					data-name="Paula Smith" 
					data-post="Analyst"
					class="img-circle">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="2" 
					data-name="Paula Smith1" 
					data-post="Analyst1"
					class="img-circle">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="3" 
					data-name="Paula Smith2" 
					data-post="Analyst2"
					class="img-circle">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="4" 
					data-name="Paula Smith3" 
					data-post="Analyst3"
					class="img-circle">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="5" 
					data-name="Paula Smith4" 
					data-post="Analyst4"
					class="img-circle">
				<img src="static/img/content/autor.png" 
					alt="" 
					data-autor-item="6" 
					data-name="Paula Smith5"
					data-post="Analyst5"
					class="img-circle">
			</div>

			<div class="testimonial-signature">
				<span class="autor-name">Paula Smith</span>
				<span class="autor-post">Analyst</span>
			</div>
		</div><!--.testimonials-carousel-->		

		<span class="arrow arrow--left">left</span>
		<span class="arrow arrow--right">right</span>

	</div>
</div><!--.b-testimonials-->