// Common styles of the project

body{
	font: 300 20px $roboto;
	padding-top: 32px;
}

.container{
	max-width: 903px;
}

.form-row{
	margin-bottom: 17px;
}

.form-control{
	height: 46px;
	font: 300 18px $roboto;
	border: none;
	padding-left: 17px;
	padding-right: 17px;
	background: rgba(230, 236, 245, 0.8);
	transition: all 0.2s ease-out 0s;
	&:focus{
		background: #fff;
	}
}

::-webkit-input-placeholder{
	text-transform: uppercase;
}

::-moz-placeholder{
	text-transform: uppercase;
	color: #6a6a6a;
}

:-moz-placeholder{
	text-transform: uppercase;
	color: #6a6a6a;
}

:-ms-input-placeholder{
	text-transform: uppercase;
	color: #6a6a6a;
}

.c-cos{
	a{
		display: inline-block;
		vertical-align: middle;
		width: 50px;
		text-align: center;
	}
}

.section{
	padding: 15px 0;
	margin-bottom: 15px;
	&-header{
		text-align: center;
		text-transform: uppercase;
		font: 300 35px $roboto;
		padding: 15px 0;
		margin-bottom: 15px;
	}

}