
<div class="b-paying section">
	<div class="container">
		
		<div class="section-header section-header--white">
			Paying Online is Easy!
		</div>

		<div class="form form-paying">
			<form>			
				<div class="form-row">
					<div class="form-paying_title">Just enter the invoice # from your bill here:</div>
					<input type="text" class="form-control">
				</div>	
				<div class="form-footer">
					<button class="btn btn-white">Use PayPal now</button>
				</div>		
				<p>The safer, easier way to pay online with any credit or debit card!</p>
			</form>
		</div>

	</div>
</div><!--.b-testimonials-->