
.b-paying{
	background: url(../img/general/paying-bg.png) no-repeat left top / cover $blue;
}

.form-paying_title{
	color: #fff;
	font: 20px "latomedium", sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.form-paying{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	.form-footer{
		margin-top: 80px;
		margin-bottom: 15px;
	}
}
