
@font-face {
    font-family: 'benderblack';
    src: url('../fonts/benderblack.eot');
    src: url('../fonts/benderblack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderblack.woff') format('woff'),
         url('../fonts/benderblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderblack_italic';
    src: url('../fonts/benderblackitalic.eot');
    src: url('../fonts/benderblackitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderblackitalic.woff') format('woff'),
         url('../fonts/benderblackitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderbold';
    src: url('../fonts/benderbold.eot');
    src: url('../fonts/benderbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderbold.woff') format('woff'),
         url('../fonts/benderbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderbold_italic';
    src: url('../fonts/benderbolditalic.eot');
    src: url('../fonts/benderbolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderbolditalic.woff') format('woff'),
         url('../fonts/benderbolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderitalic';
    src: url('../fonts/benderitalic.eot');
    src: url('../fonts/benderitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderitalic.woff') format('woff'),
         url('../fonts/benderitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderlight';
    src: url('../fonts/benderlight.eot');
    src: url('../fonts/benderlight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderlight.woff') format('woff'),
         url('../fonts/benderlight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderlight_italic';
    src: url('../fonts/benderlightitalic.eot');
    src: url('../fonts/benderlightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderlightitalic.woff') format('woff'),
         url('../fonts/benderlightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'benderregular';
    src: url('../fonts/benderregular.eot');
    src: url('../fonts/benderregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benderregular.woff') format('woff'),
         url('../fonts/benderregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alsrubl-verdana-regular';
    src: url('../fonts/alsrubl-verdana-regular.eot');
    src: url('../fonts/alsrubl-verdana-regular?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl-verdana-regular.woff') format('woff'),
         url('../fonts/alsrubl-verdana-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
