
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input, select, textarea {
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {    
    @include inline(middle);
    background-color: #FFFFFF;
    border:none;
    border:1px solid #cccccc;    
    font:14px Arial;
    height: 37px;
    padding: 10px 15px;
    border-radius:20px;
    transition-duration: 0.2s;
    transition-property: all;
	@include box;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    background: none repeat scroll 0 0 #000000;        
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;   
    border-color:#80fece;
    color:#fff;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
select, input[type="file"] {
    height: 24px;
    line-height: 24px;
}
textarea {
    height: auto;
    line-height: 24px;
}

.form__row input[type="text"], .form__row input[type="password"], .form__row input[type="datetime"], .form__row input[type="datetime-local"], .form__row input[type="date"], .form__row input[type="month"], .form__row input[type="time"], .form__row input[type="week"], .form__row input[type="number"], .form__row input[type="email"], .form__row input[type="url"], .form__row input[type="search"], .form__row input[type="tel"], .form__row input[type="color"] {
    width: 100%;
}
.form__row textarea {
    height: 150px;
    max-height: 150px;
    resize: vertical;
    width: 100%;
	resize:none;	
}
select.error, textarea.error, input.error[type="text"], input.error[type="password"], input.error[type="datetime"], input.error[type="datetime-local"], input.error[type="date"], input.error[type="month"], input.error[type="time"], input.error[type="week"], input.error[type="number"], input.error[type="email"], input.error[type="url"], input.error[type="search"], input.error[type="tel"], input.error[type="color"] {
    border: 1px solid #bc4343;
}

/*--placeholder--*/

@include placeholder(#000, $reg);