[class^="icon-"], [class*=" icon-"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    margin-top: 0;
    text-shadow: none;
    vertical-align: middle;
}

.icon--russia{
	width: 46px;
	height: 46px;
	margin-bottom:20px;
	margin-left:5px;
}

.icon--callback{
	width: 17px;
	height: 14px;
	margin-right:10px;
}

.icon--opening-time{
	width: 16px;
	height: 16px;
	float:left;
}

.icon--email{
	width: 17px;
	height: 14px;
	margin-right:10px;
}

.icon--basket{
	width: 33px;
	height: 33px;
	float:left;	
}

.icon--compare{
	width: 13px;
	height: 13px;
	margin-right:16px;
}

.icon--search{
	width: 15px;
	height: 14px;
	margin-bottom:1px;
}

.icon--clear{
	width: 10px;
	height: 10px;	
}

.icon--login{
	width: 26px;
	height: 25px;
	margin-right:13px;		
}

.icon--more{
	width: 12px;
	height: 11px;	
}

.icon--in-stock{
	width: 16px;
	height: 16px;
}

.icon--star, .icon--star-grey{
	width: 14px;
	height: 13px;
}

.icon--basket-small{
	width: 27px;
	height: 27px;
	margin-bottom:3px;
}

.icon--services{
	width: 42px;
	height: 42px;
}

.icon--scool{
	width: 41px;
	height: 45px;
}

.icon--select{
	width: 41px;
	height: 43px;
}

.icon--play{
	width: 81px;
	height: 81px;
	margin-left:10px;
}

.icon--location{
	width: 17px;
	height: 18px;
	margin-right:10px;
}

.icon--site-map{
	width:12px;
	height: 12px;
	margin-right:12px;
}

.icon--interest{
	width:11px;
	height: 13px;
	margin-right:12px;
}


.icon--select--white{
	width: 41px;
	height: 43px;
	margin-right:15px;
}

.icon--clear--fill{
	width: 20px;
	height: 20px;	
}

.icon--sort-arrow{
	width: 11px;
	height: 12px;
	margin-left:8px;	
}

.icon--plus{
	width: 13px;
	height: 13px;
	margin-left:27px;
	@include transiton(0.3s);
}
