body{
    font:14px $reg;    
}

h1{
    font:normal 38px $black;    
    text-transform: uppercase;
    margin-bottom:12px;
}
 
h2{
    font:normal 24px $black;    
    text-transform: uppercase;  
}

h3{
    font:normal 18px $bold; 
    text-transform: uppercase;     
}

h4{
    font:normal 14px $black;    
    text-transform: uppercase; 
}
 
h5{
    font:normal 10px $black;    
    text-transform: uppercase; 
}

a{
    color: $fresh;
    text-decoration: none;
    @include transiton(0.3s);
    &:hover{
        text-decoration:underline;
    }
}

b{
    font-family: $bold;
    font-weight: normal;
}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
 .clearfix{*zoom:1}
 
.rubl{
    font-family: "alsrubl-verdana-regular", Arial;         
}

.form-error {
  border: 1px solid red !important;
}

.hide {
  display: none !important;
}

.press--left{
    float:left;
}

.press--right{
    float:right;
}

.l-container{    
    width:1200px;
    margin:0 auto;    
}

.st--right{
    text-align: right;
}

.st--center{
    text-align: center;
}

.st--border{
    border-bottom:dashed 1px $fresh;    
    text-decoration: none;
    padding-bottom: 2px;
    &:hover{
        color:$fresh;
        text-decoration: none;
    }
}

.st--black{
    color:#000000;
}

.st--fresh{
    color:$fresh;
}

.st--white{
    color:#fff;
}

.st--black{
    color:#000;
}
