
/*-forns----------------------*/
$reg:"benderregular", sans-serif;
$reg-it:"benderitalic", sans-serif;

$light:"benderlight", sans-serif;
$light-it:"benderlight_italic", sans-serif;

$bold:"benderbold", sans-serif;
$bold-it:"benderbold_italic", sans-serif;

$black:"benderblack", sans-serif;
$black-it:"benderblack_italic", sans-serif;


/*-colors--------------------*/
$violet:#ff7bac;

$fresh:#81fece;


/*-@mixin------------------*/
 @mixin list(){
  margin:0;
  padding:0;
  li{
    list-style-type: none;
  }
}

@mixin box(){	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

@mixin inline($alig){
	display: inline-block;
    vertical-align: $alig;
}

@mixin transiton($arg){
	-webkit-transition: all $arg ease;
    -moz-transition: all $arg ease;
    -o-transition: all $arg ease;
    -ms-transition: all $arg ease;
    transition: all $arg ease;
}

@mixin placeholder($color, $font){

  ::-webkit-input-placeholder { /* WebKit browsers */
      opacity:1;
      color:$color;      
      font:$font;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      opacity:1;
      color:$color;      
      font:$font;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      opacity:1;
      color:$color;      
      font:$font;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      opacity:1;
      color:$color;      
      font:$font;
  }

}


@mixin filter($arg){
  filter: grayscale($arg);
  -webkit-filter: grayscale($arg);
}
