.btn{
	border-radius: 0;
	color: $grey;
	font-size: 13px;
	text-align: center;
	border: 1px solid $grey-light;
	text-align: center;	
	&:hover{
		background: $blue-light;
		color: #fff;
		border-color: $blue-light; 
	}

	&-primary{
		background: none;
		border: 2px solid $blue-light;
		color: $blue;
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
	}

}

