/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
	.menu{
		font-size: 12px;
		& > ul > li{
			padding: 0 10px;
		}
	}
	.b-composition__item{
		height: auto;
	}

	.product-detail{
		&__media{
			float: none;
			margin: 0 auto 26px;
		}
		&__info{
			padding: 0;
		}
	}
	
}

@media screen and (max-width: 1199px) {
	.sidebar{
		display: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 1024px) {
	.header{
		height: 58px;
		.container{
			height: 100%;
		}
	}

	.search-link{
		font-size: 30px;
		width: 70px;
		z-index: 15;
	}

  	.sandwich{
		display: inline-block;
		font-size: 30px;
		width: 70px;
		z-index: 15;
	}
	.logo{		
		text-align: center;
		position: static;		
		margin-top: 5px;		
		img{
			width: 80px;
		}
	}
	.menu{
		display: none;
		position: absolute;
		top: 100%;
		margin: 0;
		left: 0;
		background: #fff;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 0;
		border: 1px solid $gold;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);		
		ul{
			li{
				float: none;				
				padding: 0;
				a{					
					padding: 10px;
					display: inline-block;
				}
			}
		}
	}
	.search-link{
		padding: 9px 0;
	}

	.dropdown-sub{
		visibility: visible;
		position: static;
		opacity: 1;
		box-shadow: none;
		padding: 0;
		transform: translateY(0);
		min-height: auto;
		margin-left: 20px;
		ul{
			li{
				margin-top: 0;
			}
		}
	}

	.submenu-img{
		display: none;
	}

	.big-slider{
		&__text{
			top: 30%;
		}
	}
	.slide-title{
		font-size: 30px;
		&--big{
			font-size: 40px;
		}
	}

	.page-detail{
		padding-top: 45px;
	}

}


/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	.big-slider{
		&__text{
			top: 25%;
		}
		.owl-prev, .owl-next{
			display: none;
		}
	}
	.slide-title{
		font-size: 25px;
		&--big{
			font-size: 30px;
		}
	}

	.natural{
		width: 200px;
	}
	.chimical{
		width: 200px;
		margin-top: 20px;
	}

	.product-detail{
		&__media{
			width: 100%;
			padding: 15px;
		}		
	}

	/*.banner{
		height: 267px;
	} */

}

/* Small devices (tablets, 500px and up) */
@media screen and (max-width: 500px) {
	.logo{
		img{
			width: 63px;
		}
	}

	.section{
		&__body{
			padding-bottom: 20px;
		}
		&__head{
			padding: 20px 0 15px 0;
		}
	}

	.big-slider{
		&__text{
			top: 20%;
		}
	}
	.slide-title{
		font-size: 20px;
		&--big{
			font-size: 25px;
		}
	}		
	
	.b-composition{
		&__item{
			&__img{
				width: 100%;
			}
			&__text{
				padding: 0 5px;
			}
		}
	}

	.c-address{
		margin-bottom: 10px;
	}

	.soc{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.copyright{
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.contact form .btn{
		width: 100%;
	}

	.office-location{
		height: 300px;
	}
	
	.natural, .chimical{
		margin-top: 10px;
	}

	.product-detail{
		padding: 15px;
	}
}