@font-face {
  font-family: 'boomboom';
  src: url("../fonts/boomboom.eot");
  src: url("../fonts/boomboom.eot?#iefix") format("embedded-opentype"), url("../fonts/boomboom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
