

<div class="section">
	<div class="container">
		
		<div class="section-header">
			Contact us
		</div>

		<form action="">
			<div class="form form-contacts">
				<div class="row">
					<div class="form-row col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label>First Name *</label>
						<input type="text" class="form-control form-control-grey">
					</div>
					<div class="form-row col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label>Last Name *</label>
						<input type="text" class="form-control form-control-grey">
					</div>
					<div class="form-row col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label>Phone *</label>
						<input type="tel" class="form-control form-control-grey">
					</div>
					<div class="form-row col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<label>Email *</label>
						<input type="email" class="form-control form-control-grey">
					</div>
					<div class="form-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Your message *</label>
						<textarea class="form-control form-control-grey"></textarea>
					</div>
				</div>
				<div class="form-footer text-center">
					<button class="btn btn-green">Send message</button>
				</div>
			</div>
		</form>

	</div>
</div><!--.b-testimonials-->