<nav class="b-nav">
	<div class="container">
		
		<i class="icon-menu js-call-menu"></i>
		<i class="icon-account js-call-login"></i>
		<i class="icon-close js-close-nav"></i>
		
		<div class="menu pull-left">
			<ul>
				<li>
					<a href="#">о проекте</a>
				</li>
				<li class="active-page">
					<a href="#">навигация FOODYFIT</a>
				</li>
				<li class="have-sub">
					<a href="#">пакеты</a>
					<ul class="sub-menu">
						<li>
							<a href="#">пакет «для женщин»</a>
						</li>
						<li>
							<a href="#">пакет «для мужчин»</a>
						</li>
					</ul>
				</li>
			</ul>

			<div class="c-contacts">
				+7 495 789 49 50<br>
				+7 926 210 20 96<br>
				ask@foodyfit.ru
			</div>

		</div>

		<div class="nav-account pull-right">
			<span class="js-call-login">личный кабинет</span>
		</div>

		<div class="login-form">
			<div class="container">
				<div class="form">
					<form>
						<div class="form-row">
							<input type="email" class="form-control" placeholder="E-mail">
						</div>
						<div class="form-row">
							<input type="password" class="form-control" placeholder="пароль">
						</div>
						<div class="text-center">
							<button class="btn btn-primary">войти</button>
						</div>
					</form>
				</div>
			</div>			
		</div><!--.login-form-->
		
	</div>
</nav>
