
<div class="b-skills section">	

	<div class="section-header section-header--white">
		Key features & benefits 
	</div>

	<div class="skills-list text-center wow fadeIn" data-wow-delay="500ms">
		
		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-custumer"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				A wide array of supporting<br>
				and complementing products<br>
				and services
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-science"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Customized medical<br>
				software solutions
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-guranted"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Guaranteed<br>
				reimbursement levels
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-sert"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Highly trained and certified<br>
				professionals
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-ourser"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Our services are designed to<br>
				increase your practice revenue and<br>
				ensure your medical data accuracy
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-quolity"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Rigorous quality
				assurance
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-billm"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Services ensure billing compliance<br>
				that follow the latest industry<br>
				guidelines and requirements
			</div>			
		</div>

		<div class="skill-item">
			<div class="slill-f">
				<i class="icon-relationships"></i>
				<span>circle</span>
			</div>
			<div class="skill-i">
				Solid industry<br> 
				relationships
			</div>
		</div>

	</div><!--.slills-list-->
	
</div>