<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="footer-logo pull-left">
				<img src="static/img/general/logo-footer.png" alt="">
			</div>
			<nav class="footer-nav pull-right">
				<ul>
					<li>
						<a href="#">О компании</a>
					</li>
					<li>
						<a href="#">Преимущества</a>
					</li>
					<li>
						<a href="#">Кейсы</a>
					</li>
					<li>
						<a href="#">Тарифы</a>
					</li>
					<li>
						<a href="#">Видео</a>
					</li>
					<li>
						<a href="#">Стратегия</a>
					</li>
					<li>
						<a href="#">Заказать</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</ul>
			</nav>		
		</div>
	</div>
	<div class="copyright text-center">
		Copyright &copy; 2016 Айссео
	</div>
</footer>


