include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts
include ../header/header
include ../page-header/page-header
include ../personal-data/personal-data
include ../skills/skills
include ../level-js/level-js
include ../about/about
include ../future/future
include ../footer/footer

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content		
		+scripts(['app.min.js'])
		+scripts(['bootstrap.js'])
		+scripts(['jquery.formstyler.min.js'])		
		+scripts(['autoresize.js'])
		+scripts(['ion.rangeSlider.min.js'])
		+scripts(['main.js'])
