
.search{
	height: 100px;
	background: #fff;
	&__btn{
		background: none;
		border: none;
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		height: 32px;
		width: 30px;
		padding: 7px 0;
		box-sizing: border-box;
		text-align: center;
	}
	&__area{
		width: 100%;
		box-sizing: border-box;
		border: none;
		height: 32px;
		padding: 5px;
	}
	&__clear{
		position: absolute;
		right: 0;
		top: 0;
		height: 32px;
		width: 30px;
		text-align: center; 
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		box-sizing: border-box;
		padding: 7px 0;
	}
}

.search-box{	
	padding: 20px 0;
	form{
		position: relative;
		padding: 0 30px;
		border-bottom: 1px solid $gold;
		display: block;
	}
}