/**
 * ThemePile Buttons
 */
.btn {
  display: inline-block;
  padding: 11px 29px;  
  font-size: 18px;
  font-family: $med;
  height: 43px;
  text-align: center;
  text-decoration: none;  
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: middle;  
  color: #393c40;
  cursor: pointer;
  background: $yel;
  border-radius: 0;
  @include box;
  border:none;
  border:1px solid #393c40;
}
.btn:HOVER {
  color: $yel;  
  background: #393c40;
}
.btn:FOCUS {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:ACTIVE {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

