@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);


@font-face {
    font-family: 'alsrubl-verdana-regular';
    src: url('../fonts/alsrubl-verdana-regular.eot');
    src: url('../fonts/alsrubl-verdana-regular?#iefix') format('embedded-opentype'),
         url('../fonts/alsrubl-verdana-regular.woff') format('woff'),
         url('../fonts/alsrubl-verdana-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pf_square_sans_proregular';
    src: url('../fonts/pfsquaresanspro-regular.eot');
    src: url('../fonts/pfsquaresanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-regular.woff') format('woff'),
         url('../fonts/pfsquaresanspro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pf_square_sans_prolight';
    src: url('../fonts/pfsquaresanspro-light.eot');
    src: url('../fonts/pfsquaresanspro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-light.woff') format('woff'),
         url('../fonts/pfsquaresanspro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfsquaresanspro-medium';
    src: url('../fonts/pfsquaresanspro-medium.eot');
    src: url('../fonts/pfsquaresanspro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-medium.woff') format('woff'),
         url('../fonts/pfsquaresanspro-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_square_sans_probold';
    src: url('../fonts/pfsquaresanspro-bold.eot');
    src: url('../fonts/pfsquaresanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-bold.woff') format('woff'),
         url('../fonts/pfsquaresanspro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

