[class^="icon-"], [class*=" icon-"] {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    font: 0px/0 a;
    margin-top: 0;
    text-shadow: none;
    vertical-align: middle;
}
