
<div class="section">
	<div class="container">
		<div class="section-title">преимущества</div>
		
		<div class="skill-list clearfix text-center">
			
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Комплекс</div>
					<p>
						Только комплексный подход сможет дать ощутимые результаты проекту. Наша команда следит за последними тенденция в СЕО сфере и изменениями алгоритмов ПС (поисковых систем). Ваш проект будет соответствовать последним тенденциям в области поисковой оптимизации.
					</p>
				</div>
			</div>
			
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Гарантии</div>
					<p>
						Мы гарантируем профессиональную работу над проектам и нацеленность на результат.
					</p>
				</div>
			</div>			
			
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Сроки</div>
					<p>
						Мы даём только реальные сроки продвижения проекта, прогнозируя приблизительные результаты. По статистики первые результаты можно ожидать на 2-3-й месяц продвижения.
					</p>
				</div>
			</div>
			
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Профессионализм</div>
					<p>
						Наши сотрудники накопили богатый опыт в области оптимизации и продвижения сайта и готовы помочь Вашему бизнесу. Над проектом будут трудится целая команда профессионалов: SEO специалист, программист, верстальщик, линк-менеджер, копирайтер, дизайнер (при необходимости), аналитик (при необходимости).
					</p>
				</div>
			</div>
						
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Автоматизация</div>
					<p>
						Наша команда работает с кучей инструментов для автоматизации рутинных процессов работы, что делает работу не нудной, а более интересной. Автоматизируем, как и сбор и распределения семантического ядра так простое добавление мета тегов или контента на сайт.
					</p>
				</div>
			</div>
						
			<div class="skill-item">
				<div class="skill-media">
					 
				</div>
				<div class="caption">
					<div class="h4 text-center">Цены</div>
					<p>
						Мы работаем не по определённому списку запросов, а комплексно со всем сайтом и и-за этого цена может показаться немного выше, чем у крупных компаний, но на выходе Вы экономите в разы. Никаких авансовых, гарантийных, возвратных платежей. Вы платите только авансом за целый месяц и мы начинаем работать.
					</p>
				</div>
			</div>
			
		</div>


	</div>
</div>